// =============================================================================
// Mixins
// =============================================================================
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
=element-invisible
  position: absolute !important
  height: 1px
  width: 1px
  overflow: hidden
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    clip: rect(1px 1px 1px 1px) // IE6 and IE7 use the wrong syntax.
  clip: rect(1px, 1px, 1px, 1px)

// Turns off the element-invisible effect.
=element-invisible-off
  position: static !important
  clip: auto
  height: auto
  width: auto
  overflow: auto

// Makes an element visually hidden by default, but visible when focused
=element-focusable
  +element-invisible

  &:active,
  &:focus
    +element-invisible-off

// The following mixin provides some spacing and a border between all rows in a view except for the last one. You must pass in the border color, and can optionally
// pass it a border width and style.
//
// Example usage:
//
// .view, .block-views {
//   +views-row-common-style(#ddd);
// }

=views-row-common-style($border-color, $border-width:1px, $border-style:solid)
  .views-row
    padding-bottom: $base-leading/1.5
    border-bottom: $border-width $border-style $border-color
    margin-bottom: $base-leading/1.5

  .views-row-last
    padding-bottom: 0
    margin-bottom: 0
    border-bottom: none

=zen-clearfix
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden

=simple-linear-menu($menu-item-color, $menu-item-bg-color, $menu-item-hover-color, $menu-item-bg-hover-color, $menu-item-margin-mobile, $menu-item-margin-desktop, $menu-item-padding-mobile, $menu-item-padding-desktop, $position)
  margin: 0
  padding: 0
  list-style: none
  list-style-image: none
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden
  li
    display: block
    float: left
    list-style: none
    list-style-image: none
    margin: $menu-item-margin-mobile
    padding: 0
    @media all and (min-width: $container-tablet)
      margin: $menu-item-margin-desktop
    a
      display: inline-block
      padding: $menu-item-padding-mobile
      @media all and (min-width: $container-tablet)
        padding: $menu-item-padding-desktop
      &:link, &:focus, &:active, &:visited
        text-decoration: none
        color: $menu-item-color
        background: $menu-item-bg-color
      &:hover
        text-decoration: none
        color: $menu-item-hover-color
        background: $menu-item-bg-hover-color
    @if $position == "left"
      &.first
        margin-left: 0
        a
          padding-left: 0
    @else if $position == "right"
      &.last
        margin-right: 0
        a
          padding-right: 0

// Makes block-style breadcrumbs with arrow-shaped ends that fit together nicely
=block-breadcrumbs($content-bg-colour, $bg-colour, $text-colour, $hover-bg-colour, $hover-text-colour, $font-size, $line-height: 20px)
  +zen-clearfix
  span, li
    display: block
    float: left
    a, a:link, a:active, a:focus, span.crumb, span.nolink
      display: block
      float: left
      background: $bg-colour
      padding: 0 5px 0 (($line-height / 2) + 5)
      margin: 0 3px 2px 0
      text-align: center
      position: relative
      line-height: $line-height
      font-size: $font-size
      color: $text-colour
      text-decoration: none
      +transition(all 0.3s)
      &:before
        display: block
        content: ""
        position: absolute
        top: 0
        left: 0
        border-left: $line-height / 2 solid $content-bg-colour
        border-top: $line-height / 2 solid $bg-colour
        border-bottom: $line-height / 2 solid $bg-colour
        +transition(all 0.3s)
      &:after
        display: block
        content: ""
        position: absolute
        top: 0
        right: -($line-height / 2)
        z-index: 1
        border-left: $line-height / 2 solid $bg-colour
        border-top: $line-height / 2 solid transparent
        border-bottom: $line-height / 2 solid transparent
        +transition(all 0.3s)
    a:hover
      color: $hover-text-colour
      background: $hover-bg-colour
      text-decoration: none
      &:before
        border-color: $hover-bg-colour $content-bg-colour
      &:after
        border-color: transparent $hover-bg-colour
    &:first-child, &.first
      a, a:link, a:active, a:focus, span.crumb
        padding-left: 10px
        &:before
          display: none

// Sets the parent element as an anchor for vertically aligned content
=vertical-center-container($height)
  position: relative
  height: $height
// Vertically aligns content to it's parent, only if position: relative is applied
=vertical-center
  position: absolute
  top: 50%
  +transform(translatey(-50%))
// Horizontally aligns content to it's parent, only if position: relative is applied
=horizontal-center
  position: absolute
  left: 50%
  +transform(translatex(-50%))

// A standard drop-down or fly-out menu that works on hover.
=drop-down-menu($orientation, $main-menu-size, $sub-menu-width, $sub-menu-background-color, $sub-menu-item-color, $sub-menu-item-bg-color, $sub-menu-item-hover-color, $sub-menu-item-hover-bg-color, $sub-menu-item-padding, $icon-top-position: 3px, $sub-icon-top-position: 2px, $sub-menu-selector:".menu")
  position: relative
  z-index: 900
  li
    position: relative
    #{$sub-menu-selector}
      position: absolute
      display: block
      visibility: hidden
      +opacity(0)
      +transition(visibility 0.3s ease-in-out 0.5s, opacity 0.3s ease-in-out 0.5s)
      margin: 0
      padding: 0
      li
        margin: 0
    &:hover > #{$sub-menu-selector}
      visibility: visible
      +opacity(1)
      +transition(visibility 0.3s ease-in-out, opacity 0.3s ease-in-out)
    a.with-icon
      .link-text
        padding-right: 20px
        position: relative
        .indicator-icon
          font-size: 0.7em
          display: block
          position: absolute
          right: 0
          top: $icon-top-position
    li a.with-icon .link-text .indicator-icon
      top: $sub-icon-top-position
  > li > #{$sub-menu-selector}
    background-color: $sub-menu-background-color
    @if $orientation == "horizontal"
      left: 0
      top: $main-menu-size
    @else if $orientation == "vertical"
      left: $main-menu-size
      top: 0
    width: $sub-menu-width
    li
      width: $sub-menu-width
      a
        display: block
        width: $sub-menu-width
        padding: $sub-menu-item-padding
        .link-text
          display: block
      a, a:active, a:focus, a:visited
        color: $sub-menu-item-color
        background-color: $sub-menu-item-bg-color
        &:hover
          color: $sub-menu-item-hover-color
          background-color: $sub-menu-item-hover-bg-color
      #{$sub-menu-selector}
        left: $sub-menu-width
        top: 0

// A drop-down menu that functions on click. This must be used in conjunction
// with the theme setting to enable the drop-down menu functionality. This
// version is 100% mobile friendly. It does not, however, define styles for
// the top-level menu items.
=drop-down-menu-with-click($main-menu-size, $sub-menu-width, $sub-menu-background-color, $sub-menu-item-color, $sub-menu-item-bg-color, $sub-menu-item-hover-color, $sub-menu-item-hover-bg-color, $sub-menu-item-padding-mobile, $sub-menu-item-padding-desktop, $sub-menu-selector:".menu")
  margin: 0
  padding: 0
  position: relative
  z-index: 900
  @media all and (min-width: $container-tablet)
    height: $main-menu-size
  li
    display: block
    position: relative
    margin: 0
    padding: 0
    list-style-type: none
    list-style-image: none
    @media all and (min-width: $container-tablet)
      display: inline-block
    a, span.nolink
      display: block
      .link-text
        display: block
      @media all and (min-width: $container-tablet)
        display: inline-block
    #{$sub-menu-selector}
      position: relative
      overflow: hidden
      display: block
      margin: 0
      padding: 0 0 0 20px
      +transition(visibility 0.15s ease-in-out, opacity 0.15s ease-in-out, max-height 0.15s ease-in-out)
      @media all and (min-width: $container-tablet)
        padding: 0
      li
        display: block
        margin: 0
        #{$sub-menu-selector}
          padding-left: 20px
        a, span.nolink
          cursor: pointer
          display: block
          padding: $sub-menu-item-padding-mobile
          @media all and (min-width: $container-tablet)
            padding: $sub-menu-item-padding-desktop
            &:link, &:active, &:focus, &:visited, &.nolink
              color: $sub-menu-item-color
              background-color: $sub-menu-item-bg-color
              &:hover, &.active
                color: $sub-menu-item-hover-color
                background-color: $sub-menu-item-hover-bg-color
    &.opened > #{$sub-menu-selector}
      visibility: visible
      max-height: 999em
      +opacity(1)
      +transition(visibility 0.15s ease-in-out, opacity 0.15s ease-in-out, max-height 0.15s ease-in-out)
    a.with-icon, span.nolink.with-icon
      .link-text
        padding-right: 15px
        position: relative
        .indicator-icon
          font-size: 0.7em
          display: block
          +vertical-center
          right: 0
  > li > #{$sub-menu-selector}
    height: auto
    max-height: 0
    @media all and (min-width: $container-tablet)
      background-color: $sub-menu-background-color
      position: absolute
      margin: 0
      visibility: hidden
      overflow: visible
      +opacity(0)
      max-height: 999em
      left: 0
      top: $main-menu-size
      width: $sub-menu-width
      li
        width: 100%
        > a, > span.nolink
          width: 100%
