// =============================================================================
// Normalize.css is intended to be used as an alternative to CSS resets.
//
// This file is a slight fork of these original sources:
// - normalize.css v2.1.2 | MIT License | git.io/normalize
// - normalize.scss v2.1.2 | MIT/GPLv2 License | bit.ly/normalize-scss
//
// It's suggested that you read the normalize.sass file and customise it to meet
// your needs, rather then including the file in your project and overriding the
// defaults later in your CSS.
// @see http://nicolasgallagher.com/about-normalize-css/
//
// Also: @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
//       @see http://snook.ca/archives/html_and_css/no_css_reset/
// =============================================================================

// HTML5 display definitions

// Correct `block` display not defined in IE 8/9
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary
  display: block

// Although it's generally seen as a bad practice to remove outlines on elements because they are used for
// keyboard navigation and accessibility, we think that as long as the links within a navigation element have them,
// we are not breaking accessibility and the blue outline that Safari automatically puts on them because it thinks
// it's being smart is ugly, distracting and really detracts from the design of most sites. As such, we'll remove
// it as part of normalisation. Not sure if other browsers do this too?
nav:focus,
#navigation
  outline: none

// Correct `inline-block` display not defined in IE 8/9
audio,
canvas,
video
  display: inline-block
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    *display: inline
    *zoom: 1

// Prevent modern browsers from displaying `audio` without controls
// Remove excess height in iOS 5 devices.
audio:not([controls])
  display: none
  height: 0

// Address styling not present in IE 8/9
[hidden]
  display: none

// 1. Set default font family to sans-serif.
// 2. Prevent iOS text size adjust after orientation change, without disabling
//     user zoom.
// 3. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
//    `em` units.
html
  font-family: $base-font-family
  font-size: 100%
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

@if $legacy-support-for-ie6 or $legacy-support-for-ie7
  // Address `font-family` inconsistency between `textarea` and other form elements
  button,
  input,
  select,
  textarea
    font-family: $base-font-family

// Remove default margin
body
  margin: 0
  padding: 0
  // Default font colour
  color: $color-body

// Make sure that the CKEditor body and content always has black text
// and a white background, regardless of the theme
body.cke_editable
  padding: 10px !important
  background: #fff !important
  color: #000 !important
  table
    border-collapse: separate
    border-spacing: 2px
    th, td
      border: 1px dashed #bbb

// Address `outline` inconsistency between Chrome and other browsers
a:focus
  outline: thin dotted

// Improve readability when focused and also mouse hovered in all browsers
a:active,
a:hover
  outline: 0

blockquote
  // Also indent the quote on both sides
  margin: $base-leading $indent-amount

#header,
#navigation
  div.contextual-links-wrapper
    font-size: $base-font-size * 0.7

$mobile-base-font-size: $base-font-size * 0.8 !default

// Address variable `h1` font-size and margin within `section` and `article`
// contexts in Firefox 4+, Safari 5, and Chrome.
body.cke_editable,
#content,
#footer,
.sidebars
  font-size: $mobile-base-font-size
  line-height: $base-line-height
  @media all and (min-width: $container-tablet)
    font-size: $base-font-size
  div.contextual-links-wrapper
    font-size: 0.7em

#page-banner-region
  div.contextual-links-wrapper
    font-size: $base-font-size * 0.7
  > .container
    font-size: $mobile-base-font-size
    line-height: $base-line-height
    @media all and (min-width: $container-tablet)
      font-size: $base-font-size
    div.contextual-links-wrapper
      font-size: 0.7em

p, .field
  margin: $standard-margins

// Don't let our font size and line height apply to the admin menu
#admin-menu li
  font-size: inherit
  line-height: inherit

li
  p, h1, h2, h3, h4, h5, h6
    margin: 0

h1
  font-size: $h1-font-size
  line-height: $heading-line-height
  margin: $heading-margins

h2
  font-size: $h2-font-size
  line-height: $heading-line-height
  margin: $heading-margins

h3
  font-size: $h3-font-size
  line-height: $heading-line-height
  margin: $heading-margins

h4
  font-size: $h4-font-size
  line-height: $heading-line-height
  margin: $heading-margins

h5
  font-size: $h5-font-size
  line-height: $heading-line-height
  margin: $heading-margins

h6
  font-size: $h6-font-size
  line-height: $heading-line-height
  margin: $heading-margins

// Set indentation to override CKEditor defaults, based on our typography settings
.rteindent1
  margin-left: $indent-amount

.rteindent2
  margin-left: $indent-amount * 2

.rteindent3
  margin-left: $indent-amount * 3

.rteindent4
  margin-left: $indent-amount * 4


// Address styling not present in IE 8/9, Safari 5, and Chrome
abbr[title]
  border-bottom: 1px dotted

// Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome
b,
strong
  font-weight: bold

// Address styling not present in Safari 5 and Chrome
dfn
  font-style: italic

// Address differences between Firefox and other browsers
hr
  +box-sizing(content-box)
  height: 0
  border: 1px solid #666
  padding-bottom: -1px
  margin: $base-leading/2 0

// Address styling not present in IE 8/9
mark
  background: #ff0
  color: #000

// Correct font family set oddly in Safari 5 and Chrome
code,
kbd,
pre,
samp,
tt,
var
  font-family: $font-monospace // The value of $font-monospace ends with ", serif".
  @if $legacy-support-for-ie6
    _font-family: 'courier new', monospace

  font-size: 1em

// Improve readability of pre-formatted text in all browsers
pre
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    white-space: pre
    white-space: pre-wrap
    word-wrap: break-word
  @else
    white-space: pre-wrap

form
  margin: $base-leading 0

// Set consistent quote types
q
  quotes: "\201C" "\201D" "\2018" "\2019"

// Address inconsistent and variable font size in all browsers
small
  font-size: 80%

// Prevent `sub` and `sup` affecting `line-height` in all browsers
sub,
sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em

// Lists
ul, ol, dl, menu
  margin: $standard-margins

li, dd
  line-height: $base-line-height
  margin: $base-leading/2 0

li li,
li p,
li dd,
dd dd,
dd li,
dd p
  // We need to do this otherwise the font size is incorrect - probably because ems are based on parent font-size
  font-size: inherit

li p,
dd p
  margin: 0

ol,
ul
  ol,
  ul
    // Turn off margins on nested lists
    margin: 0

// Address paddings set differently in IE 6/7
menu,
ol,
ul
  padding: 0 0 0 $indent-amount

@if $legacy-support-for-ie7
  // Correct list images handled incorrectly in IE 7
  nav ul,
  nav ol
    list-style: none
    list-style-image: none

// Embedded content and figures @todo Look into adding responsive embedded video
img
  // Remove border when inside `a` element in IE 8/9
  border: 0
  @if $legacy-support-for-ie7
    // Improve image quality when scaled in IE 7
    -ms-interpolation-mode: bicubic

  // Suppress the space beneath the baseline
  // vertical-align: bottom;

  // Responsive images
  max-width: 100%
  height: auto
  @if $legacy-support-for-ie8
    .lt-ie9 &
      // Correct IE 8 not scaling image height when resized
      width: auto

// Correct overflow displayed oddly in IE 9
svg:not(:root)
  overflow: hidden


// Address margin not present in IE 8/9 and Safari 5
figure
  margin: 0

// Forms
@if $legacy-support-for-ie6 or $legacy-support-for-ie7
  // Correct margin displayed oddly in IE 6/7
  form
    margin: 0

// Define consistent border, margin, and padding
fieldset
  margin: $base-leading 0
  border: 1px solid #ccc
  padding: 1em

// 1. Correct `color` not being inherited in IE 8/9
// 2. Remove padding so people aren't caught out if they zero out fieldsets
// 3. Correct alignment displayed oddly in IE 6/7
legend
  border: 0
  padding: 0
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    *margin-left: -7px

// 1. Correct font family not being inherited in all browsers
// 2. Correct font size not being inherited in all browsers
// 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome
// 4. Improve appearance and consistency with IE 6/7
// 5. Keep form elements constrained in their containers
button,
input,
select,
textarea
  font-family: inherit
  font-size: 100%
  margin: 0
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    vertical-align: baseline
    *vertical-align: middle

  max-width: 100%
  +box-sizing(border-box)

// Address Firefox 4+ setting `line-height` on `input` using `!important` in
// the UA stylesheet
button,
input
  line-height: normal

// Address inconsistent `text-transform` inheritance for `button` and `select`
// All other form control elements do not inherit `text-transform` values
// Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+
// Correct `select` style inheritance in Firefox 4+ and Opera
button,
select
  text-transform: none

// 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
//    and `video` controls
// 2. Correct inability to style clickable `input` types in iOS
// 3. Improve usability and consistency of cursor style between image-type
//    `input` and others
// 4. Remove inner spacing in IE 7 without affecting normal text inputs
//    Known issue: inner spacing remains in IE 6
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]
  -webkit-appearance: button
  cursor: pointer
  @if $legacy-support-for-ie7
    *overflow: visible

// Re-set default cursor for disabled elements
button[disabled],
html input[disabled]
  cursor: default

// 1. Address box sizing set to `content-box` in IE 8/9
// 2. Remove excess padding in IE 8/9
// 3. Remove excess padding in IE 7
//    Known issue: excess padding remains in IE 6
input[type="checkbox"],
input[type="radio"]
  +box-sizing(border-box)
  padding: 0
  @if $legacy-support-for-ie7
    *height: 13px
    *width: 13px

// 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome
// 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
//    (include `-moz` to future-proof)
input[type="search"]
  -webkit-appearance: textfield
  +box-sizing(content-box)

// Remove inner padding and search cancel button in Safari 5 and Chrome on OS X
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
  -webkit-appearance: none

// Remove inner padding and border in Firefox 4+
button::-moz-focus-inner,
input::-moz-focus-inner
  border: 0
  padding: 0

// 1. Remove default vertical scrollbar in IE 8/9
// 2. Improve readability and alignment in all browsers
textarea
  overflow: auto
  vertical-align: top

// Drupal-style form labels
label
  display: block
  font-weight: normal

// Tables
table
  // Remove most spacing between table cells
  border-collapse: collapse
  border-spacing: 0
  margin: $base-leading 0
  width: 100%
  th
    text-align: left
  th, td
    vertical-align: top
    padding: 8px 10px
