@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900");
dd { margin: 0 40px 0 0; }

menu, ol, ul { padding: 0 40px 0 0; }

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

body { overflow-x: hidden; }

.container { position: relative; width: 100%; max-width: 1280px; height: 100%; margin-right: auto; margin-left: auto; }

#page { position: relative; }

@media all and (min-width: 768px) { .sidebar-first #content { float: right; width: 75%; margin-right: 25%; margin-left: -100%; }
  .sidebar-first .region-sidebar-first { float: right; width: 25%; margin-right: 0%; margin-left: -25%; }
  .sidebar-second #content { float: right; width: 75%; margin-right: 0%; margin-left: -75%; }
  .sidebar-second .region-sidebar-second { float: right; width: 25%; margin-right: 75%; margin-left: -100%; }
  .two-sidebars #content { float: right; width: 75%; margin-right: 25%; margin-left: -100%; }
  .two-sidebars .region-sidebar-first { float: right; width: 25%; margin-right: 0%; margin-left: -25%; }
  .two-sidebars .region-sidebar-second { float: right; width: 100%; margin-right: 0%; margin-left: -100%; } }
@media all and (min-width: 1024px) { .sidebar-first #content { float: right; width: 75%; margin-right: 25%; margin-left: -100%; }
  .sidebar-first .region-sidebar-first { float: right; width: 25%; margin-right: 0%; margin-left: -25%; }
  .sidebar-second #content { float: right; width: 75%; margin-right: 0%; margin-left: -75%; }
  .sidebar-second .region-sidebar-second { float: right; width: 25%; margin-right: 75%; margin-left: -100%; }
  .two-sidebars #content { float: right; width: 66.66667%; margin-right: 16.66667%; margin-left: -83.33333%; }
  .two-sidebars .region-sidebar-first { float: right; width: 16.66667%; margin-right: 0%; margin-left: -16.66667%; }
  .two-sidebars .region-sidebar-second { float: right; width: 16.66667%; margin-right: 83.33333%; margin-left: -100%; } }
a { -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; }
a:link { color: #459059; }
a:visited { color: #459059; }
a:hover, a:focus { color: #333333; }
a:active { color: #459059; }

.block { margin-bottom: 1em; }

.breadcrumb { padding: 10px 0; }
.breadcrumb a { font-size: 0.8em; }
.breadcrumb ol { margin: 0; padding: 0; }
.breadcrumb li { display: inline; list-style-type: none; margin: 0; padding: 0; }

.contextual-links-region .contextual-links-region .contextual-links-wrapper, .block-views > .contextual-links-wrapper, .view > .contextual-links-wrapper { margin-right: 50px; }

div.contextual-links-wrapper a.contextual-links-trigger { color: #999999; background-color: white; background-image: none; padding: 0 2px; width: 40px; height: 28px; border: 4px solid white; text-decoration: none; outline: none; text-indent: -999em; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
div.contextual-links-wrapper a.contextual-links-trigger:hover { color: #333333; }
div.contextual-links-wrapper a.contextual-links-trigger:before { display: block; float: left; text-indent: 0; font: normal normal normal 14px/1 FontAwesome; font-size: 20px; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-align: center; content: "\f013"; }
div.contextual-links-wrapper a.contextual-links-trigger:after { display: block; float: right; margin-top: 7px; text-indent: 0; font: normal normal normal 14px/1 FontAwesome; font-size: 14px; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-align: center; content: "\f0d7"; }

div.contextual-links-active a.contextual-links-trigger { background-color: white; border: 4px solid white; -webkit-border-radius: 2px 2px 0 0; -moz-border-radius: 2px 2px 0 0; -ms-border-radius: 2px 2px 0 0; -o-border-radius: 2px 2px 0 0; border-radius: 2px 2px 0 0; }

div.contextual-links-wrapper ul.contextual-links { top: 28px; border: none; background: white; padding: 5px 0; -webkit-border-radius: 2px 0 2px 2px; -moz-border-radius: 2px 0 2px 2px; -ms-border-radius: 2px 0 2px 2px; -o-border-radius: 2px 0 2px 2px; border-radius: 2px 0 2px 2px; }

div.contextual-links-wrapper ul.contextual-links li a { padding: 10px; background: white !important; color: #459059 !important; font-weight: normal; letter-spacing: 1px; text-decoration: none !important; margin: 0; transition: none; }
div.contextual-links-wrapper ul.contextual-links li a:hover { background: #eeeeee !important; color: #459059 !important; text-decoration: none !important; -webkit-transition: background-color 0.3s; -moz-transition: background-color 0.3s; -o-transition: background-color 0.3s; transition: background-color 0.3s; }

ul.action-links { overflow: hidden; margin: 1em 0; padding: 0 20px 0 20px; list-style-type: none; }
ul.action-links li { float: left; margin: 0 1em 0 0; }
ul.action-links li a { padding-left: 15px; background: transparent url(../images/add.png) no-repeat 0 center; }

html.js .collapsible .fieldset-legend { background: none; padding: 0; }
html.js .collapsible .fieldset-legend:before { display: inline-block; width: 1em; font-family: "FontAwesome"; content: "\f0d7"; text-align: center; }
html.js .collapsed .fieldset-legend:before { content: "\f0da"; }
.fieldset-legend .summary { color: #999999; font-size: 0.9em; margin-left: 0.5em; }

.comments { margin: 1em 0; }

.comment-preview { background-color: #ffffea; }

.comment .permalink { text-transform: uppercase; font-size: 75%; }

#user-login-form { text-align: left; }

.new, .update { color: #cc0000; background-color: transparent; }

.messages, .messages--status, .messages--warning, .messages--error { margin: 1em 0; padding: 10px 30px 10px 10px; background: #dddddd; border-left: 10px solid #888888; position: relative; }
.messages .message-close-button, .messages--status .message-close-button, .messages--warning .message-close-button, .messages--error .message-close-button { display: block; position: absolute; right: 10px; top: 10px; font-size: 0.9em; text-indent: -3000em; overflow: hidden; }
.messages .message-close-button:before, .messages--status .message-close-button:before, .messages--warning .message-close-button:before, .messages--error .message-close-button:before { display: block; float: left; text-indent: 0; }
.messages .message-close-button:link, .messages--status .message-close-button:link, .messages--warning .message-close-button:link, .messages--error .message-close-button:link, .messages .message-close-button:visited, .messages--status .message-close-button:visited, .messages--warning .message-close-button:visited, .messages--error .message-close-button:visited, .messages .message-close-button:focus, .messages--status .message-close-button:focus, .messages--warning .message-close-button:focus, .messages--error .message-close-button:focus, .messages .message-close-button:active, .messages--status .message-close-button:active, .messages--warning .message-close-button:active, .messages--error .message-close-button:active { color: #333333; }
.messages .message-close-button:hover, .messages--status .message-close-button:hover, .messages--warning .message-close-button:hover, .messages--error .message-close-button:hover { color: #999999; }

.messages--status { border-color: #038a00; }

.messages--warning { border-color: #d1a700; }

.messages--error { border-color: #ed541d; }

.messages__list { margin: 0; }

.messages__item { list-style-image: none; }

.messages--error p.error { color: #333333; }

.ok, .messages--status { background-color: #c0ff9a; color: #234600; }

.warning, .messages--warning { background-color: #fff5a8; color: #884400; }

.error, .messages--error { background-color: #ffbdb0; color: #8c2e0b; }

.more-link { text-align: right; }

.more-help-link { text-align: right; }

.more-help-link a { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA7UlEQVR42qWTPQqDQBCFcwSPkCNITpAj5AjeIm1uYpkyR7Cy2Mot7OwsBAsRwUKwmOwLGRle3EIy8PyBfZ/z3J2TiPylz8VWWZZpUB40BonRKyizaxkA88MYYiqCEgv4MTvnZJom0VqWRbz3FlJZgLYtqmEY1Lg9r+sKsIXcLSC3AC019H0vqLquLeC5AfiHYSGkcdAJimKIBQiJ4+CO92OAtm0FNc8zOjkMwE5Q63FAtbeg6zpAYvG8BWR7i5qmQYwY4MIHqYhE2DOPQWcGJBQF2XU72ZzyUeZ5GCNt5/hybJgYdAXsq5sOEE/jG6dC5IOqCXTmAAAAAElFTkSuQmCC'); background-position: 0 50%; background-repeat: no-repeat; padding: 1px 0 1px 20px; }

.unpublished { display: block; height: 0; overflow: visible; background-color: transparent; color: #d8d8d8; font-size: 75px; line-height: 1; font-family: Impact, "Arial Narrow", Helvetica, sans-serif; font-weight: bold; text-transform: uppercase; text-align: center; word-wrap: break-word; }

.indented { margin-left: 40px; }

.openid-links { margin-bottom: 0; }

.openid-link, .user-link { margin-top: 1em; }

html.js #user-login-form li.openid-link, #user-login-form li.openid-link { margin-left: -20px; }

#user-login ul { margin: 1em 0; }

#skip-link { margin: 0; }
#skip-link a, #skip-link a:visited { display: block; width: 100%; padding: 2px 0 3px 0; text-align: center; background-color: #6a6a6a; color: white; }

.ajax-progress .throbber { background-image: url(../images/rolling.gif); background-size: 15px 15px; background-repeat: no-repeat; background-position: center center; }
.ajax-progress .throbber img { display: none; }

html.js #page input.throbbing { background-image: url(../images/rolling.gif); background-size: 15px 15px; }

#page .progress .bar { background: none repeat scroll 0 0 #cccccc; border: none; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; margin: 0 0 0.5em 0; }
#page .progress .percentage { float: right; font-size: 26px; font-weight: 10; line-height: 30px; }
#page .progress .filled { -webkit-transition: width 0.5s linear, background-color 0.5s linear; -moz-transition: width 0.5s linear, background-color 0.5s linear; -o-transition: width 0.5s linear, background-color 0.5s linear; transition: width 0.5s linear, background-color 0.5s linear; }
#page .progress .filled, #page .progress .bar .filled { background: none repeat scroll 0 0 #0074bd !important; }

.admin div.admin-panel { position: relative; background-color: #f2f2f2; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; padding: 15px; margin: 10px 0; }
.admin div.admin-panel h3 { margin-top: 0.3em; }
.admin div.admin-panel .body { padding: 0; font-size: 0.8em; }
.admin div.admin-panel .body dd { margin-top: 0; }
.admin div.admin-panel div.admin-icon { position: absolute; right: 15px; top: 15px; color: #999999; font-size: 0.8em; }
.admin div.admin-panel div.admin-icon .fa-inverse { color: #f2f2f2; }

.ctools-dropbutton, .ctools-button { background-color: white; font-size: 0.8em; border-color: #cccccc; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.views-ui-display-tab-bucket .ctools-dropbutton, .views-ui-display-tab-bucket .ctools-button { font-size: 0.6em; }
.ctools-dropbutton .ctools-link a, .ctools-button .ctools-link a { -webkit-transition: color 0.2s, background-color 0.2s, border-color 0; -moz-transition: color 0.2s, background-color 0.2s, border-color 0; -o-transition: color 0.2s, background-color 0.2s, border-color 0; transition: color 0.2s, background-color 0.2s, border-color 0; }
.ctools-dropbutton ul, .ctools-button ul { padding: 0; }
.ctools-dropbutton ul li, .ctools-button ul li { margin: 0; }
.ctools-dropbutton ul li input.form-submit, .ctools-button ul li input.form-submit { color: #459059; font-weight: inherit; }
.ctools-dropbutton ul li input.form-submit:hover, .ctools-button ul li input.form-submit:hover { color: #333333; }

#views-display-top { padding: 0; }
#views-display-top ul#views-display-menu-tabs { padding: 0; margin-top: 0; margin-bottom: 0; margin-left: 0; }
#views-display-top ul#views-display-menu-tabs:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#views-display-top ul#views-display-menu-tabs li { margin: 0; padding: 0; position: relative; }
#views-display-top ul#views-display-menu-tabs li a { padding: 10px; border: none; position: relative; z-index: 5; }
#views-display-top ul#views-display-menu-tabs li.active a, #views-display-top ul#views-display-menu-tabs li a:hover { background: #999999; color: white; }
#views-display-top ul#views-display-menu-tabs li .action-list { border: none; top: 100%; }
#views-display-top ul#views-display-menu-tabs li .action-list li { border: none; line-height: 1em; padding: 0; }
#views-display-top ul#views-display-menu-tabs li .action-list li:first, #views-display-top ul#views-display-menu-tabs li .action-list li:last { border: none; }
#views-display-top ul#views-display-menu-tabs li .action-list li input.add-display, #views-display-top ul#views-display-menu-tabs li .action-list li input.form-submit { display: block; width: 100%; padding: 4px 9px; text-align: left; color: #459059; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
#views-display-top ul#views-display-menu-tabs li .action-list li input.add-display:hover, #views-display-top ul#views-display-menu-tabs li .action-list li input.form-submit:hover { color: white; background: #999999; }
#views-display-top ul#views-display-menu-tabs li a, #views-display-top ul#views-display-menu-tabs li input.add-display { font-size: 0.7em; line-height: 1.2em; }
#views-display-top ul#views-display-menu-tabs li.open a { color: white; background: #999999; }

.views-ui-display-tab-bucket h3, .views-ui-display-tab-bucket .views-display-setting { font-size: 0.7em; line-height: 1.3em; }

.ctools-toggle { margin-top: 0.6em; }
.ctools-toggle.ctools-toggle-collapsed { margin-top: 0.5em; }

#edit-display-settings #edit-display-settings-title { font-size: 0.8em; font-weight: 300; }

.views-ui-display-tab-bucket.pager { text-align: left; }

.views-admin .icon { background: none; }
.views-admin .icon:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-align: center; }
.views-admin .icon.add:before { content: "\f067"; }

.ui-widget-overlay, div#modalBackdrop.backdrop-default { background: #565656 !important; opacity: 0.3 !important; }

.ui-widget { font-family: "Montserrat", sans-serif; }

.ui-dialog, #modalContent.modal-default { padding: 0; -webkit-box-shadow: 0 0 40px 0 #999999; -moz-box-shadow: 0 0 40px 0 #999999; box-shadow: 0 0 40px 0 #999999; -webkit-box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.25); -moz-box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.25); box-shadow: 0 0 40px 0 rgba(86, 86, 86, 0.25); }
.ui-dialog.ui-corner-all, #modalContent.modal-default.ui-corner-all { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
.ui-dialog.ui-widget-content, #modalContent.modal-default.ui-widget-content { border: none; }
.ui-dialog div.ctools-modal-content, #modalContent.modal-default div.ctools-modal-content { padding: 0; margin: 0; border: none; }
.ui-dialog .ui-dialog-titlebar, .ui-dialog .modal-header, #modalContent.modal-default .ui-dialog-titlebar, #modalContent.modal-default .modal-header { position: relative; border: none; font-size: 1.4em; font-weight: normal; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; background: #cccccc; padding: 0.4em 1em; color: #565656; }
.ui-dialog .ui-dialog-titlebar.modal-header:after, .ui-dialog .modal-header.modal-header:after, #modalContent.modal-default .ui-dialog-titlebar.modal-header:after, #modalContent.modal-default .modal-header.modal-header:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-dialog .ui-dialog-titlebar .modal-title, .ui-dialog .modal-header .modal-title, #modalContent.modal-default .ui-dialog-titlebar .modal-title, #modalContent.modal-default .modal-header .modal-title { display: block; float: left; color: #565656; font-weight: normal; margin: 0.1em 0; }
.ui-dialog.views-ui-dialog .ui-dialog-titlebar, #modalContent.modal-default.views-ui-dialog .ui-dialog-titlebar { padding: 0; }
.ui-dialog fieldset legend, #modalContent.modal-default fieldset legend { padding: 5px 10px; }
.ui-dialog .ui-dialog-titlebar-close, .ui-dialog.views-ui-dialog .ui-dialog-titlebar-close, .ui-dialog .modal-header .close, #modalContent.modal-default .ui-dialog-titlebar-close, #modalContent.modal-default.views-ui-dialog .ui-dialog-titlebar-close, #modalContent.modal-default .modal-header .close { border: 0 solid transparent; background: none; color: #ad3636; font-size: 1.5em; width: auto; height: auto; right: 10px; top: 50%; margin: 0; -webkit-transform: translatey(-50%); -moz-transform: translatey(-50%); -ms-transform: translatey(-50%); -o-transform: translatey(-50%); transform: translatey(-50%); -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.ui-dialog .ui-dialog-titlebar-close .ui-icon, .ui-dialog .ui-dialog-titlebar-close .ui-button-text, .ui-dialog.views-ui-dialog .ui-dialog-titlebar-close .ui-icon, .ui-dialog.views-ui-dialog .ui-dialog-titlebar-close .ui-button-text, .ui-dialog .modal-header .close .ui-icon, .ui-dialog .modal-header .close .ui-button-text, #modalContent.modal-default .ui-dialog-titlebar-close .ui-icon, #modalContent.modal-default .ui-dialog-titlebar-close .ui-button-text, #modalContent.modal-default.views-ui-dialog .ui-dialog-titlebar-close .ui-icon, #modalContent.modal-default.views-ui-dialog .ui-dialog-titlebar-close .ui-button-text, #modalContent.modal-default .modal-header .close .ui-icon, #modalContent.modal-default .modal-header .close .ui-button-text { display: none; }
.ui-dialog .ui-dialog-titlebar-close:before, .ui-dialog.views-ui-dialog .ui-dialog-titlebar-close:before, .ui-dialog .modal-header .close:before, #modalContent.modal-default .ui-dialog-titlebar-close:before, #modalContent.modal-default.views-ui-dialog .ui-dialog-titlebar-close:before, #modalContent.modal-default .modal-header .close:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-align: center; content: "\f057"; }
.ui-dialog .ui-dialog-titlebar-close:after, .ui-dialog.views-ui-dialog .ui-dialog-titlebar-close:after, .ui-dialog .modal-header .close:after, #modalContent.modal-default .ui-dialog-titlebar-close:after, #modalContent.modal-default.views-ui-dialog .ui-dialog-titlebar-close:after, #modalContent.modal-default .modal-header .close:after { display: none; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog.views-ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .modal-header .close:hover, #modalContent.modal-default .ui-dialog-titlebar-close:hover, #modalContent.modal-default.views-ui-dialog .ui-dialog-titlebar-close:hover, #modalContent.modal-default .modal-header .close:hover { background: none; color: #761f1f; }
.ui-dialog .modal-header .close, #modalContent.modal-default .modal-header .close { float: none; max-width: 1em; display: block; position: absolute; text-indent: -3000em; overflow: hidden; }
.ui-dialog .modal-header .close img, #modalContent.modal-default .modal-header .close img { display: none; }
.ui-dialog .modal-header .close:before, #modalContent.modal-default .modal-header .close:before { display: block; float: right; text-indent: 0; }
.ui-dialog.views-ui-dialog #views-ajax-popup, #modalContent.modal-default.views-ui-dialog #views-ajax-popup { background: #f3f4ee; }
.ui-dialog.views-ui-dialog .scroll, #modalContent.modal-default.views-ui-dialog .scroll { background: white; }
.ui-dialog.views-ui-dialog .scroll form, #modalContent.modal-default.views-ui-dialog .scroll form { margin: 0; }
.ui-dialog.views-ui-dialog h2#views-ajax-title, #modalContent.modal-default.views-ui-dialog h2#views-ajax-title { font-size: 1.4em; font-weight: normal; }
.ui-dialog.views-ui-dialog .views-filterable-options, #modalContent.modal-default.views-ui-dialog .views-filterable-options { border: none; }
.ui-dialog.views-ui-dialog .views-filterable-options .form-type-checkbox, #modalContent.modal-default.views-ui-dialog .views-filterable-options .form-type-checkbox { border: none; }
.ui-dialog.views-ui-dialog .ui-dialog-titlebar-close, #modalContent.modal-default.views-ui-dialog .ui-dialog-titlebar-close { top: 2px; -webkit-transform: translatey(0); -moz-transform: translatey(0); -ms-transform: translatey(0); -o-transform: translatey(0); transform: translatey(0); }
.ui-dialog.views-ui-dialog .views-override, #modalContent.modal-default.views-ui-dialog .views-override { padding-top: 8px; }
.ui-dialog.views-ui-dialog #views-filterable-options-controls, #modalContent.modal-default.views-ui-dialog #views-filterable-options-controls { margin-top: 0; }
.ui-dialog .views-messages, #modalContent.modal-default .views-messages { height: 0; overflow: hidden; }

html.js #features-export-form fieldset.collapsed { padding: 0 1em; }
#features-export-form #features-export-wrapper fieldset legend { padding: 5px 10px; line-height: normal; }
#features-export-form #features-export-wrapper .features-export-parent { min-height: 3em; margin: 5px 0; }
#features-export-form #features-export-wrapper .features-export-parent fieldset.features-export-component, #features-export-form #features-export-wrapper .features-export-parent fieldset.form-wrapper { margin-bottom: -1px; }
html.js #features-export-form #features-export-wrapper .features-export-parent fieldset.features-export-component.collapsed, html.js #features-export-form #features-export-wrapper .features-export-parent fieldset.form-wrapper.collapsed { border: 1px solid transparent; min-height: 1.2em; padding: 0 1em; margin-bottom: 0; }
#features-export-form #features-export-wrapper .features-export-parent .component-list { border-top: 1px solid #cccccc; padding: 1em 5px; }

.region-footer { background-color: transparent; padding: 20px 10px; border-top: 1px solid transparent; }

input, textearea, select, button, a.button { font-size: 1em; line-height: 1.5em; }

.ajax-progress { font-size: 1.1em; line-height: 1.3em; }

.form-actions { margin: 0.5em 0; }
.form-actions a { font-size: 1em; line-height: 1.5em; }

.form-required { display: inline-block; text-indent: -3000em; min-width: 1em; font-size: 0.7em; }
.form-required:before { display: block; float: left; text-indent: 0; margin-top: -5px; }

.form-item.form-type-radio, .form-item.form-type-checkbox { margin: 10px 0; }

span.button-operator { display: inline-block; margin-left: 15px; margin-right: 15px; }

input.form-text, input[type="text"], input[type="password"], input[type="search"], input[type="email"], textarea, select { width: 100%; border: 1px solid #aaaaaa; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-transition: color 0.4s, background-color 0.4s, border 0.4s, box-shadow 0.4s; -moz-transition: color 0.4s, background-color 0.4s, border 0.4s, box-shadow 0.4s; -o-transition: color 0.4s, background-color 0.4s, border 0.4s, box-shadow 0.4s; transition: color 0.4s, background-color 0.4s, border 0.4s, box-shadow 0.4s; padding: 4px; background-color: #f6f6f6; }
@media all and (min-width: 768px) { input.form-text, input[type="text"], input[type="password"], input[type="search"], input[type="email"], textarea, select { width: auto; } }
input.form-text.error, input[type="text"].error, input[type="password"].error, input[type="search"].error, input[type="email"].error, textarea.error, select.error { -webkit-box-shadow: 0 0 5px 0 #cc0000; -moz-box-shadow: 0 0 5px 0 #cc0000; box-shadow: 0 0 5px 0 #cc0000; }
input.form-text:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="email"]:focus, textarea:focus, select:focus { border-color: #444444; -webkit-box-shadow: 0 0 5px 0 #008aff; -moz-box-shadow: 0 0 5px 0 #008aff; box-shadow: 0 0 5px 0 #008aff; outline: none; background-color: white; }
input.form-text:disabled, input[type="text"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="email"]:disabled, textarea:disabled, select:disabled { border-color: #dddddd; color: #bbbbbb; }

.js body:not(.page-media-browser) .form-type-file input[type="file"], .js body:not(.page-media-browser) .form-type-file input[type="image"], .js body:not(.page-media-browser) .form-type-image input[type="file"], .js body:not(.page-media-browser) .form-type-image input[type="image"], .js body:not(.page-media-browser) .form-type-managed-file input[type="file"], .js body:not(.page-media-browser) .form-type-managed-file input[type="image"] { width: 0.1px; height: 0.1px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; overflow: hidden; position: absolute; z-index: -20; }
.js body:not(.page-media-browser) .form-type-file label.file-select-button, .js body:not(.page-media-browser) .form-type-image label.file-select-button, .js body:not(.page-media-browser) .form-type-managed-file label.file-select-button { width: auto; -webkit-transition: color 0.4s, background-color 0.4s; -moz-transition: color 0.4s, background-color 0.4s; -o-transition: color 0.4s, background-color 0.4s; transition: color 0.4s, background-color 0.4s; margin: 0 10px 10px 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #cccccc; border: none; display: inline-block; padding: 4px 30px; color: #222222; cursor: pointer; position: relative; }
.js body:not(.page-media-browser) .form-type-file label.file-select-button .form-required, .js body:not(.page-media-browser) .form-type-image label.file-select-button .form-required, .js body:not(.page-media-browser) .form-type-managed-file label.file-select-button .form-required { display: block; position: absolute; right: 10px; top: 50%; -webkit-transform: translatey(-50%); -moz-transform: translatey(-50%); -ms-transform: translatey(-50%); -o-transform: translatey(-50%); transform: translatey(-50%); font-size: 0.8em; }
.js body:not(.page-media-browser) .form-type-file label.file-select-button:before, .js body:not(.page-media-browser) .form-type-image label.file-select-button:before, .js body:not(.page-media-browser) .form-type-managed-file label.file-select-button:before { display: inline-block; margin-right: 8px; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; line-height: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f055"; text-indent: 0; overflow: visible; }
.js body:not(.page-media-browser) .form-type-file label.file-select-button:after, .js body:not(.page-media-browser) .form-type-image label.file-select-button:after, .js body:not(.page-media-browser) .form-type-managed-file label.file-select-button:after { display: inline-block; font-size: inherit; line-height: inherit; content: "(select file...)"; }
.js body:not(.page-media-browser) .form-type-file label.file-select-button:hover, .js body:not(.page-media-browser) .form-type-image label.file-select-button:hover, .js body:not(.page-media-browser) .form-type-managed-file label.file-select-button:hover { background: #666666; color: white; }
.js body:not(.page-media-browser) .form-type-file label.file-select-button.file-selected:after, .js body:not(.page-media-browser) .form-type-image label.file-select-button.file-selected:after, .js body:not(.page-media-browser) .form-type-managed-file label.file-select-button.file-selected:after { display: none; }

select { -webkit-appearance: none; -moz-appearance: none; appearance: none; position: relative; background-image: url(../images/arrow-down.png); background-position: right center; background-repeat: no-repeat; padding-right: 20px; }
select:-ms-expand { display: none; }
@media screen and (min-width: 0 \0) { select { background-image: none\9; padding: 4px \9; } }

button, html input[type="button"], html button[type="button"], input[type="reset"], button[type="reset"], input[type="submit"], button[type="submit"], a.button, a#edit-cancel { -webkit-transition: color 0.4s, background-color 0.4s; -moz-transition: color 0.4s, background-color 0.4s; -o-transition: color 0.4s, background-color 0.4s; transition: color 0.4s, background-color 0.4s; margin: 5px 10px 5px 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #cccccc; border: none; display: inline-block; padding: 4px 30px; color: #222222; text-decoration: none; }
button:hover, html input[type="button"]:hover, html button[type="button"]:hover, input[type="reset"]:hover, button[type="reset"]:hover, input[type="submit"]:hover, button[type="submit"]:hover, a.button:hover, a#edit-cancel:hover { background: #666666; color: white; text-decoration: none; }
button:active, html input[type="button"]:active, html button[type="button"]:active, input[type="reset"]:active, button[type="reset"]:active, input[type="submit"]:active, button[type="submit"]:active, a.button:active, a#edit-cancel:active { background: #bbbbbb; color: #eeeeee; }
button:disabled, html input[type="button"]:disabled, html button[type="button"]:disabled, input[type="reset"]:disabled, button[type="reset"]:disabled, input[type="submit"]:disabled, button[type="submit"]:disabled, a.button:disabled, a#edit-cancel:disabled { background: #eeeeee; color: #aaaaaa; }

button.edit:before, button.edit-button:before, button.cancel-button:before, button#edit-actions-cancel:before, button#edit-cancel:before, button.reset-button:before, button.refresh-button:before, button.add-button:before, button.upload-button:before, button.search-button:before, button.filter-button:before, button.pay-button:before, button.next-button:before, button.prev-button:before, button.cart-button:before, button[type="reset"].edit:before, button[type="reset"].edit-button:before, button[type="reset"].cancel-button:before, button[type="reset"]#edit-actions-cancel:before, button[type="reset"]#edit-cancel:before, button[type="reset"].reset-button:before, button[type="reset"].refresh-button:before, button[type="reset"].add-button:before, button[type="reset"].upload-button:before, button[type="reset"].search-button:before, button[type="reset"].filter-button:before, button[type="reset"].pay-button:before, button[type="reset"].next-button:before, button[type="reset"].prev-button:before, button[type="reset"].cart-button:before, button[type="submit"].edit:before, button[type="submit"].edit-button:before, button[type="submit"].cancel-button:before, button[type="submit"]#edit-actions-cancel:before, button[type="submit"]#edit-cancel:before, button[type="submit"].reset-button:before, button[type="submit"].refresh-button:before, button[type="submit"].add-button:before, button[type="submit"].upload-button:before, button[type="submit"].search-button:before, button[type="submit"].filter-button:before, button[type="submit"].pay-button:before, button[type="submit"].next-button:before, button[type="submit"].prev-button:before, button[type="submit"].cart-button:before, a.button.edit:before, a.button.edit-button:before, a.button.cancel-button:before, a.button#edit-actions-cancel:before, a.button#edit-cancel:before, a.button.reset-button:before, a.button.refresh-button:before, a.button.add-button:before, a.button.upload-button:before, a.button.search-button:before, a.button.filter-button:before, a.button.pay-button:before, a.button.next-button:before, a.button.prev-button:before, a.button.cart-button:before, a#edit-cancel.edit:before, a#edit-cancel.edit-button:before, a#edit-cancel.cancel-button:before, a#edit-cancel#edit-actions-cancel:before, a#edit-cancel#edit-cancel:before, a#edit-cancel.reset-button:before, a#edit-cancel.refresh-button:before, a#edit-cancel.add-button:before, a#edit-cancel.upload-button:before, a#edit-cancel.search-button:before, a#edit-cancel.filter-button:before, a#edit-cancel.pay-button:before, a#edit-cancel.next-button:before, a#edit-cancel.prev-button:before, a#edit-cancel.cart-button:before { display: inline-block; margin-left: -5px; margin-right: 10px; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-align: center; }
button.edit:before, button.edit-button:before, button[type="reset"].edit:before, button[type="reset"].edit-button:before, button[type="submit"].edit:before, button[type="submit"].edit-button:before, a.button.edit:before, a.button.edit-button:before, a#edit-cancel.edit:before, a#edit-cancel.edit-button:before { content: "\f040"; }
button.cancel-button:before, button#edit-actions-cancel:before, button#edit-cancel:before, button[type="reset"].cancel-button:before, button[type="reset"]#edit-actions-cancel:before, button[type="reset"]#edit-cancel:before, button[type="submit"].cancel-button:before, button[type="submit"]#edit-actions-cancel:before, button[type="submit"]#edit-cancel:before, a.button.cancel-button:before, a.button#edit-actions-cancel:before, a.button#edit-cancel:before, a#edit-cancel.cancel-button:before, a#edit-cancel#edit-actions-cancel:before, a#edit-cancel#edit-cancel:before { content: "\f00d"; }
button.reset-button:before, button[type="reset"].reset-button:before, button[type="submit"].reset-button:before, a.button.reset-button:before, a#edit-cancel.reset-button:before { content: "\f0e2"; }
button.refresh-button:before, button[type="reset"].refresh-button:before, button[type="submit"].refresh-button:before, a.button.refresh-button:before, a#edit-cancel.refresh-button:before { content: "\f021"; }
button.add-button:before, button[type="reset"].add-button:before, button[type="submit"].add-button:before, a.button.add-button:before, a#edit-cancel.add-button:before { content: "\f067"; }
button.upload-button:before, button[type="reset"].upload-button:before, button[type="submit"].upload-button:before, a.button.upload-button:before, a#edit-cancel.upload-button:before { content: "\f093"; }
button.login-button:before, button[type="reset"].login-button:before, button[type="submit"].login-button:before, a.button.login-button:before, a#edit-cancel.login-button:before { content: "\f090"; }
button.logout-button:before, button[type="reset"].logout-button:before, button[type="submit"].logout-button:before, a.button.logout-button:before, a#edit-cancel.logout-button:before { content: "\f08b"; }
button.search-button:before, button[type="reset"].search-button:before, button[type="submit"].search-button:before, a.button.search-button:before, a#edit-cancel.search-button:before { content: "\f002"; }
button.filter-button:before, button[type="reset"].filter-button:before, button[type="submit"].filter-button:before, a.button.filter-button:before, a#edit-cancel.filter-button:before { content: "\f0b0"; }
button.pay-button:before, button[type="reset"].pay-button:before, button[type="submit"].pay-button:before, a.button.pay-button:before, a#edit-cancel.pay-button:before { content: "\f0d6"; }
button.next-button:before, button[type="reset"].next-button:before, button[type="submit"].next-button:before, a.button.next-button:before, a#edit-cancel.next-button:before { content: "\f061"; }
button.prev-button:before, button[type="reset"].prev-button:before, button[type="submit"].prev-button:before, a.button.prev-button:before, a#edit-cancel.prev-button:before { content: "\f060"; }
button.cart-button:before, button[type="reset"].cart-button:before, button[type="submit"].cart-button:before, a.button.cart-button:before, a#edit-cancel.cart-button:before { content: "\f07a"; }

input[type="submit"][id^="edit-submit"], button[type="submit"][id^="edit-submit"], input[type="submit"][id^="edit-buttons-submit"], button[type="submit"][id^="edit-buttons-submit"], input#edit-actions-submit, button#edit-actions-submit, input[id^="save-continue"], button[id^="save-continue"], input[type="submit"][id^="edit-save"], button[type="submit"][id^="edit-save"], input#edit-save, button#edit-save, input#edit-submit, button#edit-submit, input#edit-actions-save, button#edit-actions-save, input.checkout-continue, button.checkout-continue, input.webform-submit.button-primary, button.webform-submit.button-primary, .field-widget-inline-entity-form .container-inline .form-submit, #media-browser-page a.button-yes, input.add-new-condition, button.add-new-condition, #edit-field-product-und-form-actions input.ief-entity-submit { background: #459059; color: white; }
input[type="submit"][id^="edit-submit"]:hover, button[type="submit"][id^="edit-submit"]:hover, input[type="submit"][id^="edit-buttons-submit"]:hover, button[type="submit"][id^="edit-buttons-submit"]:hover, input#edit-actions-submit:hover, button#edit-actions-submit:hover, input[id^="save-continue"]:hover, button[id^="save-continue"]:hover, input[type="submit"][id^="edit-save"]:hover, button[type="submit"][id^="edit-save"]:hover, input#edit-save:hover, button#edit-save:hover, input#edit-submit:hover, button#edit-submit:hover, input#edit-actions-save:hover, button#edit-actions-save:hover, input.checkout-continue:hover, button.checkout-continue:hover, input.webform-submit.button-primary:hover, button.webform-submit.button-primary:hover, .field-widget-inline-entity-form .container-inline .form-submit:hover, #media-browser-page a.button-yes:hover, input.add-new-condition:hover, button.add-new-condition:hover, #edit-field-product-und-form-actions input.ief-entity-submit:hover { background: #256a37; color: white; }
input[type="submit"][id^="edit-submit"]:disabled, button[type="submit"][id^="edit-submit"]:disabled, input[type="submit"][id^="edit-buttons-submit"]:disabled, button[type="submit"][id^="edit-buttons-submit"]:disabled, input#edit-actions-submit:disabled, button#edit-actions-submit:disabled, input[id^="save-continue"]:disabled, button[id^="save-continue"]:disabled, input[type="submit"][id^="edit-save"]:disabled, button[type="submit"][id^="edit-save"]:disabled, input#edit-save:disabled, button#edit-save:disabled, input#edit-submit:disabled, button#edit-submit:disabled, input#edit-actions-save:disabled, button#edit-actions-save:disabled, input.checkout-continue:disabled, button.checkout-continue:disabled, input.webform-submit.button-primary:disabled, button.webform-submit.button-primary:disabled, .field-widget-inline-entity-form .container-inline .form-submit:disabled, #media-browser-page a.button-yes:disabled, input.add-new-condition:disabled, button.add-new-condition:disabled, #edit-field-product-und-form-actions input.ief-entity-submit:disabled { background: #eeeeee; color: #aaaaaa; }

button[type="submit"][id^="edit-submit"]:before, button[type="submit"][id^="edit-buttons-submit"]:before, button#edit-actions-submit:before, button[id^="save-continue"]:before, button[type="submit"][id^="edit-save"]:before, button#edit-save:before, button#edit-submit:before, button#edit-actions-save:before, input.checkout-continue:before, button.checkout-continue:before, button.webform-submit.button-primary:before, .field-widget-inline-entity-form .container-inline .form-submit:before, #media-browser-page a.button-yes:before, button.add-new-condition:before { display: inline-block; margin-left: -5px; margin-right: 10px; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-align: center; content: "\f00c"; }

button[type="submit"][id^="edit-submit"].refresh-button:before, button#edit-actions-submit.refresh-button:before, button[id^="save-continue"].refresh-button:before, button[type="submit"][id^="edit-save"].refresh-button:before, button#edit-save.refresh-button:before, button#edit-submit.refresh-button:before, button#edit-actions-save.refresh-button:before, button.webform-submit.button-primary.refresh-button:before, .field-widget-inline-entity-form .container-inline .form-submit.refresh-button:before, #media-browser-page a.button-yes.refresh-button:before, button.add-new-condition.refresh-button:before { content: "\f021"; }
button[type="submit"][id^="edit-submit"].download-button:before, button#edit-actions-submit.download-button:before, button[id^="save-continue"].download-button:before, button[type="submit"][id^="edit-save"].download-button:before, button#edit-save.download-button:before, button#edit-submit.download-button:before, button#edit-actions-save.download-button:before, button.webform-submit.button-primary.download-button:before, .field-widget-inline-entity-form .container-inline .form-submit.download-button:before, #media-browser-page a.button-yes.download-button:before, button.add-new-condition.download-button:before { content: "\f019"; }
button[type="submit"][id^="edit-submit"].search-button:before, button#edit-actions-submit.search-button:before, button[id^="save-continue"].search-button:before, button[type="submit"][id^="edit-save"].search-button:before, button#edit-save.search-button:before, button#edit-submit.search-button:before, button#edit-actions-save.search-button:before, button.webform-submit.button-primary.search-button:before, .field-widget-inline-entity-form .container-inline .form-submit.search-button:before, #media-browser-page a.button-yes.search-button:before, button.add-new-condition.search-button:before { content: "\f002"; }
button[type="submit"][id^="edit-submit"].add-button:before, button#edit-actions-submit.add-button:before, button[id^="save-continue"].add-button:before, button[type="submit"][id^="edit-save"].add-button:before, button#edit-save.add-button:before, button#edit-submit.add-button:before, button#edit-actions-save.add-button:before, button.webform-submit.button-primary.add-button:before, .field-widget-inline-entity-form .container-inline .form-submit.add-button:before, #media-browser-page a.button-yes.add-button:before, button.add-new-condition.add-button:before { content: "\f067"; }
button[type="submit"][id^="edit-submit"].upload-button:before, button#edit-actions-submit.upload-button:before, button[id^="save-continue"].upload-button:before, button[type="submit"][id^="edit-save"].upload-button:before, button#edit-save.upload-button:before, button#edit-submit.upload-button:before, button#edit-actions-save.upload-button:before, button.webform-submit.button-primary.upload-button:before, .field-widget-inline-entity-form .container-inline .form-submit.upload-button:before, #media-browser-page a.button-yes.upload-button:before, button.add-new-condition.upload-button:before { content: "\f093"; }
button[type="submit"][id^="edit-submit"].login-button:before, button#edit-actions-submit.login-button:before, button[id^="save-continue"].login-button:before, button[type="submit"][id^="edit-save"].login-button:before, button#edit-save.login-button:before, button#edit-submit.login-button:before, button#edit-actions-save.login-button:before, button.webform-submit.button-primary.login-button:before, .field-widget-inline-entity-form .container-inline .form-submit.login-button:before, #media-browser-page a.button-yes.login-button:before, button.add-new-condition.login-button:before { content: "\f090"; }
button[type="submit"][id^="edit-submit"].logout-button:before, button#edit-actions-submit.logout-button:before, button[id^="save-continue"].logout-button:before, button[type="submit"][id^="edit-save"].logout-button:before, button#edit-save.logout-button:before, button#edit-submit.logout-button:before, button#edit-actions-save.logout-button:before, button.webform-submit.button-primary.logout-button:before, .field-widget-inline-entity-form .container-inline .form-submit.logout-button:before, #media-browser-page a.button-yes.logout-button:before, button.add-new-condition.logout-button:before { content: "\f08b"; }
button[type="submit"][id^="edit-submit"].filter-button:before, button#edit-actions-submit.filter-button:before, button[id^="save-continue"].filter-button:before, button[type="submit"][id^="edit-save"].filter-button:before, button#edit-save.filter-button:before, button#edit-submit.filter-button:before, button#edit-actions-save.filter-button:before, button.webform-submit.button-primary.filter-button:before, .field-widget-inline-entity-form .container-inline .form-submit.filter-button:before, #media-browser-page a.button-yes.filter-button:before, button.add-new-condition.filter-button:before { content: "\f0b0"; }
button[type="submit"][id^="edit-submit"].pay-button:before, button#edit-actions-submit.pay-button:before, button[id^="save-continue"].pay-button:before, button[type="submit"][id^="edit-save"].pay-button:before, button#edit-save.pay-button:before, button#edit-submit.pay-button:before, button#edit-actions-save.pay-button:before, button.webform-submit.button-primary.pay-button:before, .field-widget-inline-entity-form .container-inline .form-submit.pay-button:before, #media-browser-page a.button-yes.pay-button:before, button.add-new-condition.pay-button:before { content: "\f0d6"; }
button[type="submit"][id^="edit-submit"].next-button:before, button#edit-actions-submit.next-button:before, button[id^="save-continue"].next-button:before, button[type="submit"][id^="edit-save"].next-button:before, button#edit-save.next-button:before, button#edit-submit.next-button:before, button#edit-actions-save.next-button:before, button.webform-submit.button-primary.next-button:before, .field-widget-inline-entity-form .container-inline .form-submit.next-button:before, #media-browser-page a.button-yes.next-button:before, button.add-new-condition.next-button:before { content: "\f061"; }
button[type="submit"][id^="edit-submit"].prev-button:before, button#edit-actions-submit.prev-button:before, button[id^="save-continue"].prev-button:before, button[type="submit"][id^="edit-save"].prev-button:before, button#edit-save.prev-button:before, button#edit-submit.prev-button:before, button#edit-actions-save.prev-button:before, button.webform-submit.button-primary.prev-button:before, .field-widget-inline-entity-form .container-inline .form-submit.prev-button:before, #media-browser-page a.button-yes.prev-button:before, button.add-new-condition.prev-button:before { content: "\f060"; }
button[type="submit"][id^="edit-submit"].cart-button:before, button#edit-actions-submit.cart-button:before, button[id^="save-continue"].cart-button:before, button[type="submit"][id^="edit-save"].cart-button:before, button#edit-save.cart-button:before, button#edit-submit.cart-button:before, button#edit-actions-save.cart-button:before, button.webform-submit.button-primary.cart-button:before, .field-widget-inline-entity-form .container-inline .form-submit.cart-button:before, #media-browser-page a.button-yes.cart-button:before, button.add-new-condition.cart-button:before { content: "\f07a"; }

input#edit-delete, button#edit-delete, input.delete-button, button.delete-button, input[type="submit"][id^="edit-submit"].delete-button, button[type="submit"][id^="edit-submit"].delete-button, #edit-actions input[type="submit"][id^="edit-submit"].delete-button, #edit-actions button[type="submit"][id^="edit-submit"].delete-button, input#remove-button, button#remove-button, input#edit-remove, button#edit-remove, input#edit-clear, button#edit-clear, a.button.remove, .page-node-delete input#edit-submit, .page-node-delete button#edit-submit, input[id*="remove-button"], button[id*="remove-button"], .page-admin-modules-uninstall input#edit-submit, .page-admin-modules-uninstall button#edit-submit, .remove-condition input, .remove-condition button, .field-widget-inline-entity-form .ief-entity-operations input[id*="remove"].form-submit, .field-widget-inline-entity-form .ief-entity-operations button[id*="remove"].form-submit { background: #ad3636; color: white; }
input#edit-delete:hover, button#edit-delete:hover, input.delete-button:hover, button.delete-button:hover, input[type="submit"][id^="edit-submit"].delete-button:hover, button[type="submit"][id^="edit-submit"].delete-button:hover, #edit-actions input[type="submit"][id^="edit-submit"].delete-button:hover, #edit-actions button[type="submit"][id^="edit-submit"].delete-button:hover, input#remove-button:hover, button#remove-button:hover, input#edit-remove:hover, button#edit-remove:hover, input#edit-clear:hover, button#edit-clear:hover, a.button.remove:hover, .page-node-delete input#edit-submit:hover, .page-node-delete button#edit-submit:hover, input[id*="remove-button"]:hover, button[id*="remove-button"]:hover, .page-admin-modules-uninstall input#edit-submit:hover, .page-admin-modules-uninstall button#edit-submit:hover, .remove-condition input:hover, .remove-condition button:hover, .field-widget-inline-entity-form .ief-entity-operations input[id*="remove"].form-submit:hover, .field-widget-inline-entity-form .ief-entity-operations button[id*="remove"].form-submit:hover { background: #761f1f; color: white; }
input#edit-delete:disabled, button#edit-delete:disabled, input.delete-button:disabled, button.delete-button:disabled, input[type="submit"][id^="edit-submit"].delete-button:disabled, button[type="submit"][id^="edit-submit"].delete-button:disabled, #edit-actions input[type="submit"][id^="edit-submit"].delete-button:disabled, #edit-actions button[type="submit"][id^="edit-submit"].delete-button:disabled, input#remove-button:disabled, button#remove-button:disabled, input#edit-remove:disabled, button#edit-remove:disabled, input#edit-clear:disabled, button#edit-clear:disabled, a.button.remove:disabled, .page-node-delete input#edit-submit:disabled, .page-node-delete button#edit-submit:disabled, input[id*="remove-button"]:disabled, button[id*="remove-button"]:disabled, .page-admin-modules-uninstall input#edit-submit:disabled, .page-admin-modules-uninstall button#edit-submit:disabled, .remove-condition input:disabled, .remove-condition button:disabled, .field-widget-inline-entity-form .ief-entity-operations input[id*="remove"].form-submit:disabled, .field-widget-inline-entity-form .ief-entity-operations button[id*="remove"].form-submit:disabled { background: #eeeeee; color: #aaaaaa; }
input#edit-delete:before, button#edit-delete:before, input.delete-button:before, button.delete-button:before, input[type="submit"][id^="edit-submit"].delete-button:before, button[type="submit"][id^="edit-submit"].delete-button:before, #edit-actions input[type="submit"][id^="edit-submit"].delete-button:before, #edit-actions button[type="submit"][id^="edit-submit"].delete-button:before, input#remove-button:before, button#remove-button:before, input#edit-remove:before, button#edit-remove:before, input#edit-clear:before, button#edit-clear:before, a.button.remove:before, .page-node-delete input#edit-submit:before, .page-node-delete button#edit-submit:before, input[id*="remove-button"]:before, button[id*="remove-button"]:before, .page-admin-modules-uninstall input#edit-submit:before, .page-admin-modules-uninstall button#edit-submit:before, .remove-condition input:before, .remove-condition button:before, .field-widget-inline-entity-form .ief-entity-operations input[id*="remove"].form-submit:before, .field-widget-inline-entity-form .ief-entity-operations button[id*="remove"].form-submit:before { display: inline-block; margin-left: -5px; margin-right: 10px; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-align: center; content: "\f1f8"; }

button#edit-delete:before, button#remove-button:before, button#edit-remove:before, button#edit-clear:before, a.button.remove:before, .page-node-delete button#edit-submit:before, button[id*="remove-button"]:before, .page-admin-modules-uninstall button#edit-submit:before, .remove-condition button:before, .field-widget-inline-entity-form .ief-entity-operations button[id*="remove"].form-submit:before { display: inline-block; margin-left: -5px; margin-right: 10px; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-align: center; content: "\f1f8"; }

@media all and (max-width: 767px) { div.addressfield-container-inline > div.form-item { float: none; width: 100%; margin-right: 0; } }
fieldset { -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
fieldset legend { font-size: 1.2em; padding: 10px 25px; border: none; background-color: #eeeeee; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }

#cboxContent button { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-box-shadow: 0 0 0 0 transparent; -moz-box-shadow: 0 0 0 0 transparent; box-shadow: 0 0 0 0 transparent; border: none; }

.form-item { margin: 1em 0; }
.form-checkboxes .form-item, .form-radios .form-item { margin: 0; }
tr.odd .form-item, tr.even .form-item { margin: 0; }
.form-item input.error, .form-item textarea.error, .form-item select.error { border: 1px solid #cc0000; }
.form-item .description { font-size: 0.85em; }

.form-type-radio .description, .form-type-checkbox .description { margin-left: 2.4em; }

.form-required { color: #cc0000; }

label.option { display: inline; font-weight: normal; }

.password-parent, .confirm-parent { margin: 0; }

#autocomplete ul { margin: 0; padding: 0; }
#autocomplete ul li { margin: 0; padding: 2px 5px; }

.entityconnect-edit.edit-icon, .entityconnect-add.add-icon { padding-left: 5px; padding-right: 5px; }
.entityconnect-edit.edit-icon button.form-submit, .entityconnect-add.add-icon button.form-submit { -webkit-border-radius: 25px; -moz-border-radius: 25px; -ms-border-radius: 25px; -o-border-radius: 25px; border-radius: 25px; background: #cccccc; width: 28px; height: auto; padding: 3px 0; position: relative; overflow: hidden; font-size: 0.8em; }
.entityconnect-edit.edit-icon button.form-submit:hover, .entityconnect-add.add-icon button.form-submit:hover { background: #666666; }
.entityconnect-edit.edit-icon button.form-submit:before, .entityconnect-add.add-icon button.form-submit:before { display: block; position: absolute; top: 6px; left: 0; right: 0; text-align: center; text-indent: 0; margin: 0; }

.entityconnect-add.add-icon button.form-submit:before { display: block; margin: 0; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-align: center; content: "\f067"; }

#page .chosen-container-single .chosen-single, .ui-dialog .chosen-container-single .chosen-single { height: auto; line-height: 1.5em; padding: 4px; min-height: 25px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; color: initial !important; }
#page .chosen-container-single .chosen-single div, .ui-dialog .chosen-container-single .chosen-single div { height: 25px; top: 50%; -webkit-transform: translatey(-50%); -moz-transform: translatey(-50%); -ms-transform: translatey(-50%); -o-transform: translatey(-50%); transform: translatey(-50%); }
#page .chosen-container-single .chosen-single div b, .ui-dialog .chosen-container-single .chosen-single div b { width: auto; height: auto; position: absolute; top: 50%; -webkit-transform: translatey(-50%); -moz-transform: translatey(-50%); -ms-transform: translatey(-50%); -o-transform: translatey(-50%); transform: translatey(-50%); font: normal normal normal 14px/1 FontAwesome; font-size: 0.9em; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; background-image: none !important; color: #333333; color: rgba(86, 86, 86, 0.4); }
#page .chosen-container-single .chosen-single div b:before, .ui-dialog .chosen-container-single .chosen-single div b:before { content: "\f0d7"; }
#page .chosen-container-single .chosen-drop, .ui-dialog .chosen-container-single .chosen-drop { -webkit-border-radius: 0 0 2px 2px; -moz-border-radius: 0 0 2px 2px; -ms-border-radius: 0 0 2px 2px; -o-border-radius: 0 0 2px 2px; border-radius: 0 0 2px 2px; }
#page .chosen-container-single.chosen-container-active .chosen-single, #page .chosen-container-single.chosen-container-active .chosen-drop, .ui-dialog .chosen-container-single.chosen-container-active .chosen-single, .ui-dialog .chosen-container-single.chosen-container-active .chosen-drop { border-color: #444444; background: white; -webkit-box-shadow: 0 0 5px 0 #008aff; -moz-box-shadow: 0 0 5px 0 #008aff; box-shadow: 0 0 5px 0 #008aff; }
#page .chosen-container-single.chosen-with-drop .chosen-single div b:before, .ui-dialog .chosen-container-single.chosen-with-drop .chosen-single div b:before { content: "\f0d8"; }
#page .chosen-container-single .chosen-search, .ui-dialog .chosen-container-single .chosen-search { display: block; position: relative; font-size: 0.8em; }
#page .chosen-container-single .chosen-search:after, .ui-dialog .chosen-container-single .chosen-search:after { font: normal normal normal 14px/1 FontAwesome; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f002"; font-size: 1em; color: #333333; color: rgba(86, 86, 86, 0.4); position: absolute; right: 10px; top: 50%; -webkit-transform: translatey(-50%); -moz-transform: translatey(-50%); -ms-transform: translatey(-50%); -o-transform: translatey(-50%); transform: translatey(-50%); }
#page .chosen-container-single .chosen-search input[type="text"], .ui-dialog .chosen-container-single .chosen-search input[type="text"] { -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; background-image: none !important; background-color: white; border-color: white; font-size: 1em; padding-right: 1.6em; }
#page .chosen-container-multi .chosen-choices, #page .chosen-container-multi .chosen-drop, .ui-dialog .chosen-container-multi .chosen-choices, .ui-dialog .chosen-container-multi .chosen-drop { background: #f6f6f6; border-color: white; -webkit-box-shadow: 0 0 5px 0 #008aff; -moz-box-shadow: 0 0 5px 0 #008aff; box-shadow: 0 0 5px 0 #008aff; }
#page .chosen-container-multi .chosen-choices, .ui-dialog .chosen-container-multi .chosen-choices { padding: 4px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
#page .chosen-container-multi .chosen-choices .search-field input[type="text"], .ui-dialog .chosen-container-multi .chosen-choices .search-field input[type="text"] { border: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; background: transparent; margin: 0; }
#page .chosen-container-multi .chosen-choices .search-choice, .ui-dialog .chosen-container-multi .chosen-choices .search-choice { box-sizing: border-box; margin: 1px 0; width: 100%; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; line-height: normal; font-size: 0.8em; border: none; background: #cccccc; color: #222222; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; padding-right: 25px; }
#page .chosen-container-multi .chosen-choices .search-choice .search-choice-close, .ui-dialog .chosen-container-multi .chosen-choices .search-choice .search-choice-close { top: 50%; -webkit-transform: translatey(-50%); -moz-transform: translatey(-50%); -ms-transform: translatey(-50%); -o-transform: translatey(-50%); transform: translatey(-50%); right: 8px; width: auto; height: auto; font: normal normal normal 14px/1 FontAwesome; font-size: 1em; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; background-image: none !important; line-height: normal; color: #222222; }
#page .chosen-container-multi .chosen-choices .search-choice .search-choice-close:before, .ui-dialog .chosen-container-multi .chosen-choices .search-choice .search-choice-close:before { content: "\f00d"; }
#page .chosen-container-multi .chosen-choices .search-choice .search-choice-close:hover, .ui-dialog .chosen-container-multi .chosen-choices .search-choice .search-choice-close:hover { color: #565656; }
#page .chosen-container-multi.chosen-container-active .chosen-choices, #page .chosen-container-multi.chosen-container-active .chosen-drop, .ui-dialog .chosen-container-multi.chosen-container-active .chosen-choices, .ui-dialog .chosen-container-multi.chosen-container-active .chosen-drop { border-color: #444444; background: white; -webkit-box-shadow: 0 0 5px 0 #008aff; -moz-box-shadow: 0 0 5px 0 #008aff; box-shadow: 0 0 5px 0 #008aff; }
#page .chosen-container, .ui-dialog .chosen-container { font-size: 1em; max-width: 100%; min-width: 4em; }
#page .chosen-container .chosen-focus-input, .ui-dialog .chosen-container .chosen-focus-input { padding: 0; }
#page .chosen-container .chosen-single, #page .chosen-container .chosen-drop, .ui-dialog .chosen-container .chosen-single, .ui-dialog .chosen-container .chosen-drop { border-color: #aaaaaa; background: #f6f6f6; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
#page .chosen-container .chosen-results li, .ui-dialog .chosen-container .chosen-results li { line-height: normal; }
#page .chosen-container .chosen-results li.result-selected, .ui-dialog .chosen-container .chosen-results li.result-selected { display: none; }
#page .chosen-container .chosen-results li.highlighted, .ui-dialog .chosen-container .chosen-results li.highlighted { background: #cccccc; color: #222222; }

#top-bar { height: 40px; background-color: white; border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
#top-bar .container { position: relative; height: 40px; }

#header { box-sizing: content-box; padding-bottom: 0; height: 60px; background-color: white; border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
#header .container { position: relative; height: 60px; }
@media all and (min-width: 768px) { #header { padding-bottom: 60px; } }

#branding { position: relative; z-index: 12; }

#name-and-slogan { position: relative; height: 60px; }

.header__logo { float: left; max-width: 20%; }

.header__logo-image { display: block; width: auto; height: 60px; padding: 5px; }

.header__name-and-slogan { position: relative; width: 100%; height: 100%; float: left; }
.header__name-and-slogan.header__with-logo { width: 80%; }

.header__site-name { font-size: 2em; margin: 0; position: absolute; top: 50%; -webkit-transform: translatey(-50%); -moz-transform: translatey(-50%); -ms-transform: translatey(-50%); -o-transform: translatey(-50%); transform: translatey(-50%); }
.header__with-slogan .header__site-name { line-height: 1.12em; }
@media only screen and (max-width: 768px) { .header__site-name { font-size: 1.6em; } }
@media only screen and (max-width: 480px) { .header__site-name { font-size: 1.2em; } }

.header__site-link { text-decoration: none; }
.header__site-link:link { color: #459059; }
.header__site-link:visited { color: #459059; }
.header__site-link:hover, .header__site-link:focus { color: #565656; }
.header__site-link:active { color: #459059; }

.header__site-slogan { display: block; margin: 0; color: #999999; }

.header__site-slogan { font-size: 0.6em; font-weight: 300; }
@media only screen and (max-width: 768px) { .header__site-slogan { font-size: 0.48em; } }

.element-invisible, #navigation .block-menu .block__title, #navigation .block-menu-block .block__title, .element-focusable { position: absolute !important; height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); }

.element-focusable:active, .element-focusable:focus { position: static !important; clip: auto; height: auto; width: auto; overflow: auto; }

#autocomplete .selected { background: #0072b9; color: white; }

/* Titles */
.node__title, .block__title, .comments__title, .comments__form-title, .comment__title { margin: 0; }

.page__title { margin: 0 0 1em; }

.image-left { float: left; padding: 0; margin: 0 10px 10px 0; }

.image-right { float: right; padding: 0; margin: 0 0 10px 10px; }

.inline { display: inline; padding: 0; }
.inline li { display: inline; list-style-type: none; padding: 0 1em 0 0; }

span.field-label { padding: 0 1em 0 0; }

.progress { font-weight: bold; }
.progress .bar { background: #cccccc; border-color: #666666; margin: 0 0.2em; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.progress .filled { background-color: #0072b9; background-image: url('../images/progress.gif?1398863088'); }

.with-wireframes #header, .with-wireframes #main, .with-wireframes #content, .with-wireframes #navigation, .with-wireframes .region-sidebar-first, .with-wireframes .region-sidebar-second, .with-wireframes #footer, .with-wireframes .region-bottom { outline: 1px solid #cccccc; }

@media all and (max-width: 1023px) { .password-parent, .confirm-parent { width: auto; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-orient: vertical; -moz-box-orient: vertical; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; /* optional */ -webkit-box-align: start; -moz-box-align: start; -ms-flex-align: start; -webkit-align-items: flex-start; align-items: flex-start; }
  .password-parent label, .confirm-parent label { -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; -ms-flex-order: 1; -webkit-order: 1; order: 1; }
  .password-parent input.password-field, .password-parent input.password-confirm, .confirm-parent input.password-field, .confirm-parent input.password-confirm { -webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2; -ms-flex-order: 2; -webkit-order: 2; order: 2; }
  .password-parent div.password-strength, .password-parent div.password-confirm, .confirm-parent div.password-strength, .confirm-parent div.password-confirm { -webkit-box-ordinal-group: 3; -moz-box-ordinal-group: 3; -ms-flex-order: 3; -webkit-order: 3; order: 3; } }
.password-parent .password-strength, .password-parent div.password-confirm, .confirm-parent .password-strength, .confirm-parent div.password-confirm { float: none; }
@media all and (max-width: 1023px) { .password-parent .password-strength, .password-parent div.password-confirm, .confirm-parent .password-strength, .confirm-parent div.password-confirm { width: 100%; margin: 0; } }
@media all and (min-width: 1024px) { .password-parent .password-strength, .password-parent div.password-confirm, .confirm-parent .password-strength, .confirm-parent div.password-confirm { float: right; width: 45%; } }
.password-parent input.password-confirm, .password-parent input.password-field, .confirm-parent input.password-confirm, .confirm-parent input.password-field { max-width: 100%; }

@media all and (max-width: 1023px) { div.form-item div.password-suggestions { width: auto; max-width: 100%; } }

.media-youtube-video { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
.media-youtube-video iframe, .media-youtube-video object, .media-youtube-video embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#navigation { overflow: hidden; display: block; }
@media all and (min-width: 768px) { #navigation { overflow: visible; } }
#navigation .links, #navigation .menu { margin: 0; padding: 0; text-align: left; }
#navigation .links li, #navigation .menu li { display: block; margin: 0; padding: 0; list-style-type: none; list-style-image: none; }
@media all and (min-width: 768px) { #navigation .links li, #navigation .menu li { float: left; margin: 0 5px 0 0; }
  #navigation .links li.first a, #navigation .menu li.first a { padding-left: 0; } }
#navigation .links li a, #navigation .menu li a { display: block; width: 100%; padding: 10px 20px; color: #333333; background-color: white; text-decoration: none; }
@media all and (min-width: 768px) { #navigation .links li a, #navigation .menu li a { color: #459059; background-color: transparent; } }
#navigation .links li a.home-icon .fa-home, #navigation .menu li a.home-icon .fa-home { display: block; float: left; text-indent: 0; padding-right: 10px; font-size: 0.9em; }
@media all and (min-width: 768px) { #navigation .links li a.home-icon, #navigation .menu li a.home-icon { text-indent: -3000em; overflow: hidden; }
  #navigation .links li a.home-icon .fa-home, #navigation .menu li a.home-icon .fa-home { padding-right: 0; } }
#navigation .links li a:focus, #navigation .links li a:hover, #navigation .menu li a:focus, #navigation .menu li a:hover { background-color: #333333; color: white; }
@media all and (min-width: 768px) { #navigation .links li a, #navigation .menu li a { width: auto; padding: 10px; }
  #navigation .links li a:focus, #navigation .links li a:hover, #navigation .links li a.active, #navigation .menu li a:focus, #navigation .menu li a:hover, #navigation .menu li a.active { background-color: transparent; color: #333333; } }
#navigation #main-menu, #navigation .region-navigation { display: block; }
@media all and (min-width: 768px) { #navigation #main-menu, #navigation .region-navigation { position: absolute; top: 50%; -webkit-transform: translatey(-50%); -moz-transform: translatey(-50%); -ms-transform: translatey(-50%); -o-transform: translatey(-50%); transform: translatey(-50%); display: block; } }
#navigation #main-menu .block__title, #navigation .region-navigation .block__title { display: none; }
@media all and (max-width: 767px) { #navigation { max-height: 0; padding: 0; background: #f9f9f9; -webkit-box-shadow: 2px 5px 5px 0px #999999; -moz-box-shadow: 2px 5px 5px 0px #999999; box-shadow: 2px 5px 5px 0px #999999; -webkit-box-shadow: 2px 5px 5px 0px rgba(86, 86, 86, 0.4); -moz-box-shadow: 2px 5px 5px 0px rgba(86, 86, 86, 0.4); box-shadow: 2px 5px 5px 0px rgba(86, 86, 86, 0.4); }
  #navigation.active { height: auto; max-height: 1000px; -webkit-transition-property: max-height; -moz-transition-property: max-height; -o-transition-property: max-height; transition-property: max-height; -webkit-transition-duration: 0; -moz-transition-duration: 0; -o-transition-duration: 0; transition-duration: 0; -webkit-transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; } }
#navigation .block { margin-bottom: 0; }

#nav-button { display: none; right: 10px; z-index: 13; width: 38px; height: 30px; background-color: #459059; border: 1px solid #459059; font-size: 0; text-align: center; text-decoration: none; outline: 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-transition: border-color, 0.2s, ease-in-out; -moz-transition: border-color, 0.2s, ease-in-out; -o-transition: border-color, 0.2s, ease-in-out; transition: border-color, 0.2s, ease-in-out; position: absolute; top: 50%; -webkit-transform: translatey(-50%); -moz-transform: translatey(-50%); -ms-transform: translatey(-50%); -o-transform: translatey(-50%); transform: translatey(-50%); }
#nav-button:before { display: block; content: "\f0c9"; color: white; font: normal normal normal 14px/1 FontAwesome; font-size: 18px; line-height: 30px; -webkit-transition: color, 0.2s, ease-in-out; -moz-transition: color, 0.2s, ease-in-out; -o-transition: color, 0.2s, ease-in-out; transition: color, 0.2s, ease-in-out; }
#nav-button:hover { cursor: pointer; background-color: white; border-color: #459059; }
#nav-button:hover:before { color: #459059; }
@media all and (max-width: 767px) { #nav-button { display: block; } }

.header__secondary-menu { right: 10px; position: absolute; top: 50%; -webkit-transform: translatey(-50%); -moz-transform: translatey(-50%); -ms-transform: translatey(-50%); -o-transform: translatey(-50%); transform: translatey(-50%); }
.header__secondary-menu li.last { padding-right: 0; }
.header__secondary-menu a { font-size: 0.8em; text-decoration: none; color: #999999; }
.header__secondary-menu a:focus, .header__secondary-menu a:hover { color: #333333; }

.menu__item.is-leaf { list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHBAMAAAA2fErgAAAAD1BMVEX///+/v7+Li4sAAADAwMBFvsw8AAAAAXRSTlMAQObYZgAAAB1JREFUCFtjYAADYwMGBmYVZSDhKAwkFJWhYiAAAB2+Aa/9ugeaAAAAAElFTkSuQmCC'); list-style-type: square; }

.menu__item.is-expanded { list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABJJREFUeJxj+MdQw2DBIMAABgAUsAHD3c3BpwAAAABJRU5ErkJggg=='); list-style-type: circle; }

.menu__item.is-collapsed { list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABFJREFUCB1jVmCGQClmEWYOAAZ8AMy3HPLXAAAAAElFTkSuQmCC'); list-style-type: disc; }

.pager { clear: both; padding: 0; text-align: center; }

.pager-item, .pager-first, .pager-previous, .pager-next, .pager-last, .pager-ellipsis, .pager-current { display: inline; padding: 0 0.5em; list-style-type: none; background-image: none; }

.pager-current { font-weight: bold; }

form th { text-align: left; border-bottom: 3px solid #cccccc; }
form tbody { border-top: 1px solid #cccccc; }
form table ul { margin: 0; }

tr { border-bottom: 1px solid #cccccc; padding: 0.1em 0.6em; }
tr.even { background-color: white; }
tr.odd { background-color: #f2f2f2; }

th { background-color: #e6e6e6; position: relative; }
th .ajax-progress { position: absolute; top: 50%; -webkit-transform: translatey(-50%); -moz-transform: translatey(-50%); -ms-transform: translatey(-50%); -o-transform: translatey(-50%); transform: translatey(-50%); right: 10px; }
th a { display: block; text-decoration: none; }
th.active { background-color: #459059; }
th.active:hover { background-color: #244b2e; color: white; }
th.active:hover a:link, th.active:hover a:active, th.active:hover a:visited, th.active:hover a:focus { color: white; }
th.active a:link, th.active a:active, th.active a:visited, th.active a:focus { color: white; }
th.active a:hover { color: white; }
th.active a .fa { display: block; float: right; line-height: 1.5em; }
th.active .ajax-progress { right: 30px; }

td.active { background-color: #cccccc; }

td.checkbox, th.checkbox { text-align: center; }

td.menu-disabled { background: #cccccc; }

.draggable a.tabledrag-handle { float: left; display: block; margin: 0 15px 0 0; font-size: 0.8em; height: auto; }
.draggable a.tabledrag-handle:link, .draggable a.tabledrag-handle:active, .draggable a.tabledrag-handle:focus, .draggable a.tabledrag-handle:visited, .draggable a.tabledrag-handle:hover { color: #777777; }
.draggable a.tabledrag-handle .handle { display: none; }
.draggable a.tabledrag-handle:before { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f047"; }

tr.drag { background-color: ivory; }

tr.drag-previous { background-color: #ffffdd; }

tr td span.tabledrag-changed.warning { display: inline-block; text-indent: -3000em; overflow: hidden; background-color: transparent; }
tr td span.tabledrag-changed.warning:before { display: block; float: left; text-indent: 0; overflow: visible; font: normal normal normal 14px/1 FontAwesome; font-size: 0.7em; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f005"; }

.tabledrag-toggle-weight { font-size: 0.9em; }

tr.selected td { background: #ffffcc; }

.tabs-primary, #media-browser-tabset ul.tabs, .tabs-secondary { list-style: none; margin: 1em 0; padding: 0 0; white-space: nowrap; }
@media all and (min-width: 768px) { .tabs-primary, #media-browser-tabset ul.tabs, .tabs-secondary { border-bottom: 2px solid #eeeeee; } }

.tabs-primary__tab, .tabs-primary__tab.is-active, .ui-tabs .ui-tabs-nav li.is-active, .tabs-primary__tab.ui-tabs-active, .ui-tabs .ui-tabs-nav li.ui-tabs-active, .ui-tabs .ui-tabs-nav li, .tabs-secondary__tab, .tabs-secondary__tab.is-active { margin: 0 0; padding: 0; }
@media all and (min-width: 768px) { .tabs-primary__tab, .tabs-primary__tab.is-active, .ui-tabs .ui-tabs-nav li.is-active, .tabs-primary__tab.ui-tabs-active, .ui-tabs .ui-tabs-nav li.ui-tabs-active, .ui-tabs .ui-tabs-nav li, .tabs-secondary__tab, .tabs-secondary__tab.is-active { float: left; margin: 0 0; } }

a.tabs-primary__tab-link, .ui-tabs .ui-tabs-nav li a, a.tabs-primary__tab-link.is-active, .ui-tabs .ui-tabs-nav li.ui-state-active a, a.tabs-primary__tab-link:link, a.tabs-primary__tab-link:visited, a.tabs-primary__tab-link:focus, a.tabs-secondary__tab-link, a.tabs-secondary__tab-link.is-active, a.tabs-secondary__tab-link:link, a.tabs-secondary__tab-link:visited, a.tabs-secondary__tab-link:focus { border-right: 0; border-bottom: 0; display: block; text-decoration: none; font-weight: normal; }

#media-tabs-wrapper { float: none !important; }
#media-tabs-wrapper ul.tabs.primary { margin-top: 0; }
#media-tabs-wrapper ul.tabs.primary li a:link, #media-tabs-wrapper ul.tabs.primary li a:focus, #media-tabs-wrapper ul.tabs.primary li a:active, #media-tabs-wrapper ul.tabs.primary li a:visited, #media-tabs-wrapper ul.tabs.primary li a:hover { font-weight: normal; }

/* Primary tabs */
.tabs-primary, #media-browser-tabset ul.tabs { position: relative; z-index: 1; }

#media-browser-tabset ul.tabs { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }

.tabs-primary__tab, .tabs-primary__tab.is-active, .ui-tabs .ui-tabs-nav li.is-active, .tabs-primary__tab.ui-tabs-active, .ui-tabs .ui-tabs-nav li.ui-tabs-active, .ui-tabs .ui-tabs-nav li { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; border: none; position: relative; z-index: 10; }
@media all and (min-width: 768px) { .tabs-primary__tab, .tabs-primary__tab.is-active, .ui-tabs .ui-tabs-nav li.is-active, .tabs-primary__tab.ui-tabs-active, .ui-tabs .ui-tabs-nav li.ui-tabs-active, .ui-tabs .ui-tabs-nav li { margin-bottom: -2px; } }

a.tabs-primary__tab-link, .ui-tabs .ui-tabs-nav li a, a.tabs-primary__tab-link.is-active, .ui-tabs .ui-tabs-nav li.ui-state-active a, a.tabs-primary__tab-link:link, .ui-tabs .ui-tabs-nav li a:link, a.tabs-primary__tab-link:visited, .ui-tabs .ui-tabs-nav li a:visited, a.tabs-primary__tab-link:focus, .ui-tabs .ui-tabs-nav li a:focus { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s; -moz-transition: background-color 0.3s, border-color 0.3s, color 0.3s; -o-transition: background-color 0.3s, border-color 0.3s, color 0.3s; transition: background-color 0.3s, border-color 0.3s, color 0.3s; color: #459059; background-color: white; letter-spacing: 1px; padding: 3px 1em 1px; font-size: 1em; line-height: 1.5em; border-bottom: 2px solid #eeeeee; }
@media all and (min-width: 768px) { a.tabs-primary__tab-link, .ui-tabs .ui-tabs-nav li a, a.tabs-primary__tab-link.is-active, .ui-tabs .ui-tabs-nav li.ui-state-active a, a.tabs-primary__tab-link:link, .ui-tabs .ui-tabs-nav li a:link, a.tabs-primary__tab-link:visited, .ui-tabs .ui-tabs-nav li a:visited, a.tabs-primary__tab-link:focus, .ui-tabs .ui-tabs-nav li a:focus { text-align: center; } }

a.tabs-primary__tab-link:hover, .ui-tabs .ui-tabs-nav li a:hover { background-color: #eeeeee; color: #459059; border-bottom: 2px solid #459059; }

a.tabs-primary__tab-link:active, .ui-tabs .ui-tabs-nav li a:active, a.tabs-primary__tab-link.is-active, .ui-tabs .ui-tabs-nav li.ui-state-active a { background: #eeeeee; color: #459059; border-bottom: 2px solid #459059; }

a.tabs-primary__tab-link.is-active:hover, .ui-tabs .ui-tabs-nav li.ui-state-active a:hover { background: #cccccc; color: #459059; }

a.tabs-primary__tab-link.is-active, .ui-tabs .ui-tabs-nav li.ui-state-active a { cursor: pointer; }

.tabs-secondary { font-size: 0.9em; margin-top: -1em; border-bottom: none; }

.tabs-secondary__tab, .tabs-secondary__tab.is-active { margin: 0.5em 3px; }

a.tabs-secondary__tab-link, a.tabs-secondary__tab-link.is-active, a.tabs-secondary__tab-link:link, a.tabs-secondary__tab-link:visited, a.tabs-secondary__tab-link:focus { -webkit-transition: background-color 0.3s, color 0.3s; -moz-transition: background-color 0.3s, color 0.3s; -o-transition: background-color 0.3s, color 0.3s; transition: background-color 0.3s, color 0.3s; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background-color: white; color: #459059; padding: 3px 0.7em; font-size: 1em; line-height: 1.5em; }

a.tabs-secondary__tab-link:hover { background-color: #eeeeee; color: #459059; }

a.tabs-secondary__tab-link:active, a.tabs-secondary__tab-link.is-active { background: #eeeeee; color: #459059; }

a.tabs-secondary__tab-link.is-active:hover { background: #cccccc; color: #459059; }

.header__logo { float: right; }

.header__secondary-menu { float: left; }

#navigation .links, #navigation .menu { text-align: right; }
#navigation .links li, #navigation .menu li { float: right; padding: 0 0 0 10px; }

.messages, .messages--status, .messages--warning, .messages--error { padding: 10px 50px 10px 10px; background-position: 99% 8px; }

.tabs-primary__tab, .tabs-primary__tab.is-active, .ui-tabs .ui-tabs-nav li.is-active, .tabs-primary__tab.ui-tabs-active, .ui-tabs .ui-tabs-nav li.ui-tabs-active, .ui-tabs .ui-tabs-nav li, .tabs-secondary__tab, .tabs-secondary__tab.is-active { float: right; }

.inline li { display: inline-block; padding: 0 0 0 1em; }

span.field-label { padding: 0 0 0 1em; }

.more-link { text-align: left; }

.more-help-link { text-align: left; }

.more-help-link a { background-position: 100% 50%; padding: 1px 20px 1px 0; }

.menu__item.is-collapsed { list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII='); }

#user-login-form { text-align: right; }

html.js #user-login-form li.openid-link, #user-login-form li.openid-link { margin-left: 0; margin-right: -20px; }

form th { text-align: right; padding-left: 1em; padding-right: 0; }

html.js .collapsible .fieldset-legend { background-position: 98% 75%; padding-left: 0; padding-right: 15px; }
html.js .collapsed .fieldset-legend { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII='); background-position: 98% 50%; }
