// =============================================================================
// Footer
// =============================================================================

.region-footer
  background-color: $footer-background-color
  padding: $footer-padding
  border-top: $footer-border-width solid $footer-border-color
