// =============================================================================
// Navigation
// =============================================================================

#navigation
  overflow: hidden
  @media all and (min-width: $container-tablet)
    overflow: visible
  display: block
  .links,
  .menu
    margin: 0
    padding: 0
    text-align: left
    li
      display: block
      margin: 0
      padding: 0
      list-style-type: none
      list-style-image: none
      @media all and (min-width: $container-tablet)
        float: left
        margin: $main-menu-item-desktop-margin
        &.first a
          padding-left: 0
      a
        display: block
        width: 100%
        padding: $main-menu-anchor-padding
        color: $main-menu-color-mobile
        background-color: $main-menu-bg-color-mobile
        text-decoration: none
        @media all and (min-width: $container-tablet)
          color: $main-menu-color
          background-color: $main-menu-bg-color
        &.home-icon
          .fa-home
            display: block
            float: left
            text-indent: 0
            padding-right: 10px
            font-size: 0.9em
          @media all and (min-width: $container-tablet)
            text-indent: -3000em
            overflow: hidden
            .fa-home
              padding-right: 0
        &:focus,&:hover
          background-color: $main-menu-bg-color-hover-mobile
          color: $main-menu-color-hover-mobile
        @media all and (min-width: $container-tablet)
          width: auto
          padding: $zen-gutter-width/2
          &:focus,&:hover,&.active
            background-color: $main-menu-bg-color-hover
            color: $main-menu-color-hover

  // Default rendered menus
  #main-menu,
  .region-navigation
    display: block
    @media all and (min-width: $container-tablet)
      +vertical-center
      display: block
    .block__title
      display: none
  @media all and (max-width: $container-mobile-max)
    &.active
      height: auto
      max-height: 1000px
      +transition-property(max-height)
      +transition-duration(0)
      +transition-timing-function(ease-in-out)
    max-height: 0
    padding: 0
    background: $mobile-navigation-background
    +box-shadow(2px 5px 5px 0px $color-gray)
    +box-shadow(2px 5px 5px 0px transparentize($color-black, 0.6))
  .block
    margin-bottom: 0
  .block-menu .block__title,
  .block-menu-block .block__title
    @extend .element-invisible

// Navigation Button (Mobile Menu)
#nav-button
  display: none
  right: $zen-gutter-width/2
  z-index: 13
  width: 38px
  height: 30px
  background-color: $mobile-nav-button-bg-color
  border: 1px solid $mobile-nav-button-border-color
  font-size: 0
  text-align: center
  text-decoration: none
  outline: 0
  +border-radius(2px)
  +transition(border-color, 0.2s, ease-in-out)
  +vertical-center()
  &:before
    display: block
    content: '\f0c9'
    color: $mobile-nav-button-color
    font: normal normal normal 14px/1 FontAwesome
    font-size: 18px
    line-height: 30px
    +transition(color, 0.2s, ease-in-out)
  &:hover
    cursor: pointer
    background-color: $mobile-nav-button-bg-color-hover
    border-color: $mobile-nav-button-border-color-hover
    &:before
      color: $mobile-nav-button-color-hover
  @media all and (max-width: $container-mobile-max)
    display: block

// The secondary menu (login, etc.)
.header__secondary-menu
  right: $zen-gutter-width / 2
  +vertical-center()
  li
    &.last
      padding-right: 0
  a
    font-size: $secondary-menu-font-size
    text-decoration: none
    color: $secondary-menu-color
    &:focus,&:hover
      color: $secondary-menu-color-hover

// Menus
.menu__item.is-leaf
  list-style-image: inline-image("menu-leaf.png")
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    *list-style-image: image-url("menu-leaf.png")
  list-style-type: square

.menu__item.is-expanded
  list-style-image: inline-image("menu-expanded.png")
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    *list-style-image: image-url("menu-expanded.png")
  list-style-type: circle

.menu__item.is-collapsed
  list-style-image: inline-image("menu-collapsed.png")
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    *list-style-image: image-url("menu-collapsed.png")
  list-style-type: disc
