// =============================================================================
// Anchors
// =============================================================================

a
  +transition(color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out)
  &:link
    color: $anchor-color
  &:visited
    color: $anchor-color
  &:hover,
  &:focus
    color: $anchor-color-hover
  &:active
    color: $anchor-color
