// =============================================================================
// Contextual links
// =============================================================================

$contextual-links-trigger-bg-color: $color-white !default
$contextual-links-trigger-active-bg-color: $tab-bg-color !default
$contextual-links-menu-bg-color: $tab-bg-color !default
$contextual-links-menu-link-bg-color: $tab-bg-color !default
$contextual-links-menu-link-hover-bg-color: $tab-bg-hover-color !default
$contextual-links-menu-link-text-color: $tab-text-color !default
$contextual-links-menu-link-hover-text-color: $tab-text-hover-color !default

// Make it so the contextual links for a view is moved over, so it will never
// overlap the contextual links for individual rows:
.contextual-links-region .contextual-links-region .contextual-links-wrapper,
.block-views > .contextual-links-wrapper,
.view > .contextual-links-wrapper
  margin-right: 50px

// Add a background and border style to the trigger button, to contrast it with
// any given background and ensure it's always easily visible
div.contextual-links-wrapper a.contextual-links-trigger
  color: $color-gray
  background-color: $contextual-links-trigger-bg-color
  background-image: none
  padding: 0 2px
  width: 40px
  height: 28px
  border: 4px solid $contextual-links-trigger-bg-color
  text-decoration: none
  outline: none
  // The default text indent applied seems to still cause a bit of text to
  // appear, so this ensures that it definitely doesn't
  text-indent: -999em
  +border-radius(2px)
  &:hover
    color: $color-gray-dark
  &:before
    display: block
    float: left
    text-indent: 0
    font: normal normal normal 14px/1 FontAwesome
    font-size: 20px
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    content: "\f013"
  &:after
    display: block
    float: right
    margin-top: 7px
    text-indent: 0
    font: normal normal normal 14px/1 FontAwesome
    font-size: 14px
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    content: "\f0d7"

div.contextual-links-active a.contextual-links-trigger
  background-color: $contextual-links-trigger-active-bg-color
  border: 4px solid $contextual-links-trigger-active-bg-color
  +border-radius(2px 2px 0 0)

div.contextual-links-wrapper ul.contextual-links
  top: 28px
  border: none
  background: $contextual-links-menu-bg-color
  padding: 5px 0
  +border-radius(2px 0 2px 2px)

div.contextual-links-wrapper ul.contextual-links li a
  padding: 10px
  background: $contextual-links-menu-link-bg-color !important
  color: $contextual-links-menu-link-text-color !important
  font-weight: normal
  letter-spacing: 1px
  text-decoration: none !important
  margin: 0
  &:hover
    background: $contextual-links-menu-link-hover-bg-color !important
    color: $contextual-links-menu-link-hover-text-color !important
    text-decoration: none !important
    +transition(background-color 0.3s)
  transition: none
