// =============================================================================
// Drupal Core & standard modules
// =============================================================================

// Action Links
ul.action-links
  +clearfix
  margin: 1em 0
  padding: 0 20px 0 20px
  list-style-type: none
  li
    float: left
    margin: 0 1em 0 0
    a
      padding-left: 15px
      background: transparent url(../images/add.png) no-repeat 0 center

// Collapsible fieldsets @see collapse.js
.fieldset-legend
  html.js .collapsible &
    background: none
    padding: 0
    &:before
      display: inline-block
      width: 1em
      font-family: 'FontAwesome'
      content: '\f0d7'
      text-align: center
  html.js .collapsed &
    &:before
      content: '\f0da'
  .summary
    color: #999
    font-size: 0.9em
    margin-left: 0.5em

// Comments
// Wrapper for the list of comments and its title
.comments
  margin: $base-leading 0

// Preview of the comment before submitting new or updated comment
.comment-preview
  // Drupal core will use a #ffffea background. See #1110842
  background-color: #ffffea

// Wrapper for a single comment
.comment
  // Comment's permalink wrapper
  .permalink
    text-transform: uppercase
    font-size: 75%

// Drupal's default login form block
#user-login-form
  text-align: left

// Marker
// The "new" or "updated" marker
.new,
.update
  color: #c00
  // Remove background highlighting from <mark> in normalize
  background-color: transparent

// Messages
.messages
  margin: $base-leading 0
  padding: 10px 30px 10px 10px
  background: #ddd
  border-left: 10px solid #888
  position: relative
  .message-close-button
    display: block
    position: absolute
    right: 10px
    top: 10px
    font-size: 0.9em
    text-indent: -3000em
    overflow: hidden
    &:before
      display: block
      float: left
      text-indent: 0
    &:link, &:visited, &:focus, &:active
      color: $color-gray-dark
    &:hover
      color: $color-gray

.messages--status
  @extend .messages
  @extend %ok
  border-color: #038a00

.messages--warning
  @extend .messages
  @extend %warning
  border-color: #d1a700

.messages--error
  @extend .messages
  @extend %error
  border-color: #ed541d

.messages__list
  margin: 0

.messages__item
  list-style-image: none

// Core/module installation error messages
.messages--error  p.error
  color: #333

// System status report
.ok,
%ok
  background-color: #c0ff9a
  color: #234600

.warning,
%warning
  background-color: #fff5a8
  color: #840

.error,
%error
  background-color: #ffbdb0
  color: #8c2e0b

// "More" links
.more-link
  text-align: right
.more-help-link
  text-align: right
.more-help-link a
  background-image: inline-image("help.png")
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    *background-image: image-url("help.png")
  background-position: 0 50%
  background-repeat: no-repeat
  padding: 1px 0 1px 20px

// Unpublished note
// The word "Unpublished" displayed underneath the content
.unpublished
  display: block
  height: 0
  overflow: visible
  // Remove background highlighting from <mark> in normalize
  background-color: transparent
  color: #d8d8d8
  font-size: 75px
  line-height: 1
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif
  font-weight: bold
  text-transform: uppercase
  text-align: center
  // A very nice CSS3 property
  word-wrap: break-word
@if $legacy-support-for-ie6 or $legacy-support-for-ie7
  .lt-ie8 .node-unpublished>*,
  .lt-ie8 .comment-unpublished>*
    // Otherwise these elements will appear below the "Unpublished" text
    position: relative

// Nested comments are indented
.indented
  // Drupal core uses a 25px left margin
  margin-left: $indent-amount


// OpenID @The default styling for the OpenID login link seems to assume Garland's styling of list items
// OpenID creates a new ul above the login form's links
.openid-links
  // Position OpenID's ul next to the rest of the links
  margin-bottom: 0

// The "Log in using OpenID" and "Cancel OpenID login" links
.openid-link,
.user-link
  margin-top: $base-leading

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link
  // Un-do some of the padding on the ul list
  margin-left: -20px

#user-login ul
  margin: $base-leading 0

// The skip-link link will be completely hidden until a user tabs to the link
#skip-link
  margin: 0
  a,
  a:visited
    display: block
    width: 100%
    padding: 2px 0 3px 0
    text-align: center
    background-color: $color-text
    color: #fff

.ajax-progress
  .throbber
    background-image: url(../images/rolling.gif)
    background-size: 15px 15px
    background-repeat: no-repeat
    background-position: center center
    img
      display: none

html.js #page input.throbbing
  background-image: url(../images/rolling.gif)
  background-size: 15px 15px

$progress-bar-bg-color: #ccc !default
$progress-bar-filled-bg-color: #0074BD !default

#page .progress
  .bar
    background: none repeat scroll 0 0 $progress-bar-bg-color
    border: none
    +border-radius(0)
    margin: 0 0 0.5em 0
  .percentage
    float: right
    font-size: 26px
    font-weight: 10
    line-height: 30px
  .filled
    +transition(width 0.5s linear, background-color 0.5s linear)
  .filled,
  .bar .filled
    background: none repeat scroll 0 0 $progress-bar-filled-bg-color !important

.admin
  div.admin-panel
    position: relative
    background-color: #f2f2f2
    +border-radius(5px)
    padding: 15px
    margin: 10px 0
    h3
      margin-top: 0.3em
    .body
      padding: 0
      font-size: 0.8em
      dd
        margin-top: 0
    div.admin-icon
      position: absolute
      right: 15px
      top: 15px
      color: #999
      font-size: 0.8em
      .fa-inverse
        color: #f2f2f2

.ctools-dropbutton,
.ctools-button
  background-color: $color-white
  font-size: 0.8em
  border-color: $color-gray-light
  +border-radius(3px)
  .views-ui-display-tab-bucket &
    font-size: 0.6em
  .ctools-link a
    +transition(color 0.2s, background-color 0.2s, border-color 0)
  ul
    padding: 0
    li
      margin: 0
      input.form-submit
        color: $anchor-color
        font-weight: inherit
        &:hover
          color: $anchor-color-hover

#views-display-top
  padding: 0
  ul#views-display-menu-tabs
    +zen-clearfix
    padding: 0
    margin-top: 0
    margin-bottom: 0
    margin-left: 0
    li
      margin: 0
      padding: 0
      position: relative
      a
        padding: 10px
        border: none
        position: relative
        z-index: 5
      &.active a,
      a:hover
        background: $color-gray
        color: $color-white
      .action-list
        border: none
        top: 100%
        li
          border: none
          line-height: 1em
          padding: 0
          &:first, &:last
            border: none
          input.add-display,
          input.form-submit
            display: block
            width: 100%
            padding: 4px 9px
            text-align: left
            color: $anchor-color
            +border-radius(0)
            &:hover
              color: $color-white
              background: $color-gray
      a,
      input.add-display
        font-size: 0.7em
        line-height: 1.2em
      &.open a
        color: $color-white
        background: $color-gray

.views-ui-display-tab-bucket
  h3,
  .views-display-setting
    font-size: 0.7em
    line-height: 1.3em

.ctools-toggle
  margin-top: 0.6em
  &.ctools-toggle-collapsed
    margin-top: 0.5em

#edit-display-settings
  #edit-display-settings-title
    font-size: 0.8em
    font-weight: 300

// Fix for the pager tab bucket in views, since pagers are otherwise
// set with text align centre.
.views-ui-display-tab-bucket.pager
  text-align: left

.views-admin .icon
  background: none
  &:before
    display: inline-block
    font: normal normal normal 14px/1 FontAwesome
    font-size: inherit
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
  &.add:before
    content: "\f067"

.ui-widget-overlay,
div#modalBackdrop.backdrop-default
  background: $color-black !important
  opacity: 0.3 !important

.ui-widget
  font-family: $font-body

.ui-dialog,
#modalContent.modal-default
  padding: 0
  +single-box-shadow($color-gray, 0, 0, 40px, 0)
  +single-box-shadow(transparentize($color-black, 0.75), 0, 0, 40px, 0)
  &.ui-corner-all
    +border-radius(0)
  &.ui-widget-content
    border: none
  div.ctools-modal-content
    padding: 0
    margin: 0
    border: none
  .ui-dialog-titlebar,
  .modal-header
    position: relative
    border: none
    font-size: 1.4em
    font-weight: normal
    +border-radius(0)
    background: $color-gray-light
    padding: 0.4em 1em
    color: $color-black
    &.modal-header
      +zen-clearfix
    .modal-title
      display: block
      float: left
      color: $color-black
      font-weight: normal
      margin: 0.1em 0
  &.views-ui-dialog .ui-dialog-titlebar
    padding: 0
  fieldset legend
    padding: 5px 10px
  .ui-dialog-titlebar-close,
  &.views-ui-dialog .ui-dialog-titlebar-close,
  .modal-header .close
    border: 0 solid transparent
    background: none
    color: #ad3636
    font-size: 1.5em
    width: auto
    height: auto
    right: 10px
    top: 50%
    margin: 0
    +transform(translatey(-50%))
    +border-radius(0)
    +single-box-shadow(none)
    .ui-icon,
    .ui-button-text
      display: none
    &:before
      display: inline-block
      font: normal normal normal 14px/1 FontAwesome
      font-size: inherit
      text-rendering: auto
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      text-align: center
      content: "\f057"
    &:after
      display: none
    &:hover
      background: none
      color: #761f1f
  .modal-header .close
    float: none
    max-width: 1em
    display: block
    position: absolute
    text-indent: -3000em
    overflow: hidden
    img
      display: none
    &:before
      display: block
      float: right
      text-indent: 0
  &.views-ui-dialog
    #views-ajax-popup
      background: #F3F4EE
    .scroll
      background: $color-white
      form
        margin: 0
    h2#views-ajax-title
      font-size: 1.4em
      font-weight: normal
    .views-filterable-options
      border: none
      .form-type-checkbox
        border: none
    .ui-dialog-titlebar-close
      top: 2px
      +transform(translatey(0))
    .views-override
      padding-top: 8px
    #views-filterable-options-controls
      margin-top: 0
  .views-messages
    height: 0
    overflow: hidden

#features-export-form
  html.js & fieldset.collapsed
    padding: 0 1em
  #features-export-wrapper
    fieldset
      legend
        padding: 5px 10px
        line-height: normal
    .features-export-parent
      min-height: 3em
      margin: 5px 0
      fieldset.features-export-component,
      fieldset.form-wrapper
        margin-bottom: -1px
        html.js &.collapsed
          border: 1px solid transparent
          min-height: 1.2em
          padding: 0 1em
          margin-bottom: 0
      .component-list
        border-top: 1px solid #ccc
        padding: 1em 5px
