// =============================================================================
// Forms
// =============================================================================

input,
textearea,
select,
button,
a.button
  font-size: 1em
  line-height: $base-line-height

.ajax-progress
  font-size: $base-font-size - 0.3
  line-height: $base-line-height - 0.2

.form-actions
  margin: $base-leading/2 0
  a
    font-size: 1em
    line-height: $base-line-height

.form-required
  display: inline-block
  text-indent: -3000em
  min-width: 1em
  font-size: 0.7em
  &:before
    display: block
    float: left
    text-indent: 0
    margin-top: -5px

.form-item.form-type-radio,
.form-item.form-type-checkbox
  margin: 10px 0

span.button-operator
  display: inline-block
  margin-left: 15px
  margin-right: 15px

input.form-text,
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
textarea,
select
  width: 100%
  @media all and (min-width: $container-tablet)
    width: auto
  border: 1px solid $form-input-border-color
  +border-radius(2px)
  +transition(color 0.4s, background-color 0.4s, border 0.4s, box-shadow 0.4s)
  padding: 4px
  background-color: $form-input-bg-color
  &.error
    +single-box-shadow($form-error-color, 0, 0, $form-input-shadow-feather, $form-input-shadow-thickness)
  &:focus
    border-color: $form-input-focus-border-color
    +single-box-shadow($form-input-focus-shadow-color, 0, 0, $form-input-shadow-feather, $form-input-shadow-thickness)
    outline: none
    background-color: $form-input-focus-bg-color
  &:disabled
    border-color: $form-input-disabled-border-color
    color: $form-input-disabled-bg-color

.js
  body:not(.page-media-browser)
    .form-type-file,
    .form-type-image,
    .form-type-managed-file
      input[type="file"],
      input[type="image"]
        width: 0.1px
        height: 0.1px
        +opacity(0)
        overflow: hidden
        position: absolute
        z-index: -20
      label.file-select-button
        width: auto
        +transition(color 0.4s, background-color 0.4s)
        margin: 0 10px 10px 0
        +border-radius(2px)
        background: $form-button-bg-color
        border: none
        display: inline-block
        padding: 4px 30px
        color: $form-button-text-color
        cursor: pointer
        position: relative
        .form-required
          display: block
          position: absolute
          right: 10px
          top: 50%
          +transform(translatey(-50%))
          font-size: 0.8em
        &:before
          display: inline-block
          margin-right: 8px
          font: normal normal normal 14px/1 FontAwesome
          font-size: inherit
          line-height: inherit
          text-rendering: auto
          -webkit-font-smoothing: antialiased
          -moz-osx-font-smoothing: grayscale
          content: "\f055"
          text-indent: 0
          overflow: visible
        &:after
          display: inline-block
          font-size: inherit
          line-height: inherit
          content: "(select file...)"
        &:hover
          background: $form-button-hover-bg-color
          color: $form-button-hover-text-color
        &.file-selected:after
          display: none

select
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  position: relative
  background-image: url(../images/arrow-down.png)
  background-position: right center
  background-repeat: no-repeat
  padding-right: 20px
  &:-ms-expand
    display: none
  // target Internet Explorer 9 to undo the custom arrow
  @media screen and (min-width:0\0)
    background-image: none\9
    padding: 4px\9

button,
html input[type="button"],
html button[type="button"],
input[type="reset"],
button[type="reset"],
input[type="submit"],
button[type="submit"],
a.button,
a#edit-cancel
  +transition(color 0.4s, background-color 0.4s)
  margin: 5px 10px 5px 0
  +border-radius(2px)
  background: $form-button-bg-color
  border: none
  display: inline-block
  padding: 4px 30px
  color: $form-button-text-color
  text-decoration: none
  &:hover
    background: $form-button-hover-bg-color
    color: $form-button-hover-text-color
    text-decoration: none
  &:active
    background: $form-button-active-bg-color
    color: $form-button-active-text-color
  &:disabled
    background: $form-button-disabled-bg-color
    color: $form-button-disabled-text-color

button,
button[type="reset"],
button[type="submit"],
a.button,
a#edit-cancel
  &.edit,
  &.edit-button,
  &.cancel-button,
  &#edit-actions-cancel,
  &#edit-cancel,
  &.reset-button,
  &.refresh-button,
  &.add-button,
  &.upload-button,
  &.search-button,
  &.filter-button,
  &.pay-button,
  &.next-button,
  &.prev-button,
  &.cart-button
    &:before
      display: inline-block
      margin-left: -5px
      margin-right: 10px
      font: normal normal normal 14px/1 FontAwesome
      font-size: inherit
      text-rendering: auto
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      text-align: center
  &.edit, &.edit-button
    &:before
      content: "\f040"
  &.cancel-button, &#edit-actions-cancel, &#edit-cancel
    &:before
      content: "\f00d"
  &.reset-button
    &:before
      content: "\f0e2"
  &.refresh-button
    &:before
      content: "\f021"
  &.add-button
    &:before
      content: "\f067"
  &.upload-button
    &:before
      content: "\f093"
  &.login-button
    &:before
      content: "\f090"
  &.logout-button
    &:before
      content: "\f08b"
  &.search-button
    &:before
      content: "\f002"
  &.filter-button
    &:before
      content: "\f0b0"
  &.pay-button
    &:before
      content: "\f0d6"
  &.next-button
    &:before
      content: "\f061"
  &.prev-button
    &:before
      content: "\f060"
  &.cart-button
    &:before
      content: "\f07a"

input[type="submit"][id^="edit-submit"],
button[type="submit"][id^="edit-submit"],
input[type="submit"][id^="edit-buttons-submit"],
button[type="submit"][id^="edit-buttons-submit"],
input#edit-actions-submit,
button#edit-actions-submit,
input[id^="save-continue"],
button[id^="save-continue"],
input[type="submit"][id^="edit-save"],
button[type="submit"][id^="edit-save"],
input#edit-save,
button#edit-save,
input#edit-submit,
button#edit-submit,
input#edit-actions-save,
button#edit-actions-save,
input.checkout-continue,
button.checkout-continue,
input.webform-submit.button-primary,
button.webform-submit.button-primary,
.field-widget-inline-entity-form .container-inline .form-submit,
#media-browser-page a.button-yes,
input.add-new-condition,
button.add-new-condition,
#edit-field-product-und-form-actions input.ief-entity-submit
  background: $form-submit-button-bg-color
  color: $form-submit-button-text-color
  &:hover
    background: $form-submit-button-hover-bg-color
    color: $form-submit-button-hover-text-color
  &:disabled
    background: $form-button-disabled-bg-color
    color: $form-button-disabled-text-color

button[type="submit"][id^="edit-submit"],
button[type="submit"][id^="edit-buttons-submit"],
button#edit-actions-submit,
button[id^="save-continue"],
button[type="submit"][id^="edit-save"],
button#edit-save,
button#edit-submit,
button#edit-actions-save,
input.checkout-continue,
button.checkout-continue,
button.webform-submit.button-primary,
.field-widget-inline-entity-form .container-inline .form-submit,
#media-browser-page a.button-yes,
button.add-new-condition,
  &:before
    display: inline-block
    margin-left: -5px
    margin-right: 10px
    font: normal normal normal 14px/1 FontAwesome
    font-size: inherit
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    content: "\f00c"

button[type="submit"][id^="edit-submit"],
button#edit-actions-submit,
button[id^="save-continue"],
button[type="submit"][id^="edit-save"],
button#edit-save,
button#edit-submit,
button#edit-actions-save,
button.webform-submit.button-primary,
.field-widget-inline-entity-form .container-inline .form-submit,
#media-browser-page a.button-yes,
button.add-new-condition,
  &.refresh-button:before
    content: "\f021"
  &.download-button:before
    content: "\f019"
  &.search-button:before
    content: "\f002"
  &.add-button:before
    content: "\f067"
  &.upload-button:before
    content: "\f093"
  &.login-button:before
    content: "\f090"
  &.logout-button:before
    content: "\f08b"
  &.filter-button:before
    content: "\f0b0"
  &.pay-button:before
    content: "\f0d6"
  &.next-button:before
    content: "\f061"
  &.prev-button:before
    content: "\f060"
  &.cart-button:before
    content: "\f07a"

input#edit-delete,
button#edit-delete,
input.delete-button,
button.delete-button,
input[type="submit"][id^="edit-submit"].delete-button,
button[type="submit"][id^="edit-submit"].delete-button,
#edit-actions input[type="submit"][id^="edit-submit"].delete-button,
#edit-actions button[type="submit"][id^="edit-submit"].delete-button,
input#remove-button,
button#remove-button,
input#edit-remove,
button#edit-remove,
input#edit-clear,
button#edit-clear,
a.button.remove,
.page-node-delete input#edit-submit,
.page-node-delete button#edit-submit,
input[id*="remove-button"],
button[id*="remove-button"],
.page-admin-modules-uninstall input#edit-submit,
.page-admin-modules-uninstall button#edit-submit,
.remove-condition input,
.remove-condition button,
.field-widget-inline-entity-form .ief-entity-operations input[id*="remove"].form-submit,
.field-widget-inline-entity-form .ief-entity-operations button[id*="remove"].form-submit
  background: $form-delete-button-bg-color
  color: $form-delete-button-text-color
  &:hover
    background: $form-delete-button-hover-bg-color
    color: $form-delete-button-hover-text-color
  &:disabled
    background: $form-button-disabled-bg-color
    color: $form-button-disabled-text-color
  &:before
    display: inline-block
    margin-left: -5px
    margin-right: 10px
    font: normal normal normal 14px/1 FontAwesome
    font-size: inherit
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    content: "\f1f8"

button#edit-delete,
button#remove-button,
button#edit-remove,
button#edit-clear,
a.button.remove,
.page-node-delete button#edit-submit,
button[id*="remove-button"],
.page-admin-modules-uninstall button#edit-submit,
.remove-condition button,
.field-widget-inline-entity-form .ief-entity-operations button[id*="remove"].form-submit
  &:before
    display: inline-block
    margin-left: -5px
    margin-right: 10px
    font: normal normal normal 14px/1 FontAwesome
    font-size: inherit
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    content: "\f1f8"

// Address field adjustments for mobile:
@media all and (max-width: $container-mobile-max)
  div.addressfield-container-inline > div.form-item
    float: none
    width: 100%
    margin-right: 0

fieldset
  +border-radius(2px)
  legend
    font-size: 1.2em
    padding: 10px 25px
    border: none
    background-color: #eee
    +border-radius(2px)

// Prevent our button style from affecting colorbox buttons:
#cboxContent button
  +border-radius(0)
  +single-box-shadow(transparent, 0, 0, 0, 0)
  border: none

// Wrapper for a form element (or group of form elements) and its label
.form-item
  margin: $base-leading 0
  // Pack groups of checkboxes and radio buttons closer together
  .form-checkboxes & ,
  .form-radios &
    // Drupal core uses "0.4em 0"
    margin: 0
  // Form items in a table
  tr.odd &,
  tr.even &
    margin: 0
  // Highlight the form elements that caused a form submission error
  input.error,
  textarea.error,
  select.error
    border: 1px solid #c00
  // The descriptive help text (separate from the label)
  .description
    font-size: 0.85em

.form-type-radio,
.form-type-checkbox
  .description
    margin-left: 2.4em

// The part of the label that indicates a required field
.form-required
  color: #c00

// Labels for radios and checkboxes
label.option
  display: inline
  font-weight: normal

// Password confirmation
.password-parent,
.confirm-parent
  margin: 0

#autocomplete
  ul
    margin: 0
    padding: 0
    li
      margin: 0
      padding: 2px 5px

.entityconnect-edit.edit-icon,
.entityconnect-add.add-icon
  padding-left: 5px
  padding-right: 5px
  button.form-submit
    +border-radius(25px)
    background: $form-button-bg-color
    width: 28px
    height: auto
    padding: 3px 0
    position: relative
    overflow: hidden
    font-size: 0.8em
    &:hover
      background: $form-button-hover-bg-color
    &:before
      display: block
      position: absolute
      top: 6px
      left: 0
      right: 0
      text-align: center
      text-indent: 0
      margin: 0
.entityconnect-add.add-icon button.form-submit:before
  display: block
  margin: 0
  font: normal normal normal 14px/1 FontAwesome
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  content: "\f067"


// Chosen widget overrides
$form-chosen-search-input-background-color: adjust-lightness($form-input-focus-bg-color, 40%) !default
$form-chosen-search-input-border-color: adjust-lightness($form-input-focus-bg-color, 40%) !default
$form-chosen-result-highlight-color: $form-button-bg-color !default
$form-chosen-result-highlight-text-color: $form-button-text-color !default
#page,
.ui-dialog
  .chosen-container-single
    .chosen-single
      height: auto
      line-height: $base-line-height
      padding: 4px
      min-height: 25px
      +border-radius(2px)
      color: initial !important
      div
        height: 25px
        top: 50%
        +transform(translatey(-50%))
        b
          width: auto
          height: auto
          position: absolute
          top: 50%
          +transform(translatey(-50%))
          font: normal normal normal 14px/1 FontAwesome
          font-size: 0.9em
          text-rendering: auto
          -webkit-font-smoothing: antialiased
          -moz-osx-font-smoothing: grayscale
          background-image: none !important
          color: $color-gray-dark
          color: transparentize($color-black, 0.6)
          &:before
            content: "\f0d7"
    .chosen-drop
      +border-radius(0 0 2px 2px)
    &.chosen-container-active
      .chosen-single, .chosen-drop
        border-color: $form-input-focus-border-color
        background: $form-input-focus-bg-color
        +single-box-shadow($form-input-focus-shadow-color, 0, 0, $form-input-shadow-feather, $form-input-shadow-thickness)
    &.chosen-with-drop
      .chosen-single
        div b:before
          content: "\f0d8"
    .chosen-search
      display: block
      position: relative
      font-size: 0.8em
      &:after
        font: normal normal normal 14px/1 FontAwesome
        text-rendering: auto
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        content: "\f002"
        font-size: 1em
        color: $color-gray-dark
        color: transparentize($color-black, 0.6)
        position: absolute
        right: 10px
        top: 50%
        +transform(translatey(-50%))
      input[type="text"]
        +border-radius(2px)
        +single-box-shadow(none)
        background-image: none !important
        background-color: $form-chosen-search-input-background-color
        border-color: $form-chosen-search-input-border-color
        font-size: 1em
        padding-right: 1.6em
  .chosen-container-multi
    .chosen-choices, .chosen-drop
      background: $form-input-bg-color
      border-color: $form-chosen-search-input-border-color
      +single-box-shadow($form-input-focus-shadow-color, 0, 0, $form-input-shadow-feather, $form-input-shadow-thickness)
    .chosen-choices
      padding: 4px
      +border-radius(2px)
      .search-field input[type="text"]
        border: none
        +single-box-shadow(none)
        background: transparent
        margin: 0
      .search-choice
        box-sizing: border-box
        margin: 1px 0
        width: 100%
        +border-radius(2px)
        line-height: normal
        font-size: 0.8em
        border: none
        background: $form-chosen-result-highlight-color
        color: $form-chosen-result-highlight-text-color
        +single-box-shadow(none)
        padding-right: 25px
        .search-choice-close
          top: 50%
          +transform(translatey(-50%))
          right: 8px
          width: auto
          height: auto
          font: normal normal normal 14px/1 FontAwesome
          font-size: 1em
          text-rendering: auto
          -webkit-font-smoothing: antialiased
          -moz-osx-font-smoothing: grayscale
          background-image: none !important
          line-height: normal
          color: $form-chosen-result-highlight-text-color
          &:before
            content: "\f00d"
          &:hover
            color: $color-black
    &.chosen-container-active
      .chosen-choices, .chosen-drop
        border-color: $form-input-focus-border-color
        background: $form-input-focus-bg-color
        +single-box-shadow($form-input-focus-shadow-color, 0, 0, $form-input-shadow-feather, $form-input-shadow-thickness)
  .chosen-container
    font-size: 1em
    max-width: 100%
    min-width: 4em
    .chosen-focus-input
      padding: 0
    .chosen-single, .chosen-drop
      border-color: $form-input-border-color
      background: $form-input-bg-color
      +single-box-shadow(none)
    .chosen-results
      li
        line-height: normal
      li.result-selected
        display: none
      li.highlighted
        background: $form-chosen-result-highlight-color
        color: $form-chosen-result-highlight-text-color
