// =============================================================================
// Tables
// =============================================================================

// Default colours for older themes that don't have these variables in their _init.sass file.
$table-row-border-color: $color-gray-light !default
$table-row-even-bg-color: $color-white !default
$table-row-odd-bg-color: adjust-lightness($color-gray-light, 15%) !default
$table-header-bg-color: adjust-lightness($color-gray-light, 10%) !default
$table-header-active-sort-bg-color: $color-main !default
$table-header-active-sort-color: $color-white !default
$table-header-active-sort-hover-bg-color: adjust-lightness($color-main, -20%) !default
$table-header-active-sort-hover-color: $color-white !default
$table-column-sorted-bg-color: $color-gray-light !default
$table-row-dragging-color: #fffff0 !default
$table-row-dragged-color: #ffd !default
$table-row-selected-color: #ffc !default

form
  th
    text-align: left
    border-bottom: 3px solid $table-row-border-color
  tbody
    border-top: 1px solid $table-row-border-color
  table ul
    margin: 0

tr
  border-bottom: 1px solid $table-row-border-color
  padding: 0.1em 0.6em
  &.even
    background-color: $table-row-even-bg-color
  &.odd
    background-color: $table-row-odd-bg-color

@if $legacy-support-for-ie6 or $legacy-support-for-ie7
  .lt-ie8 tr.even,
  .lt-ie8 tr.odd
    th,
    td
      // IE doesn't display borders on table rows
      border-bottom: 1px solid $table-row-border-color

th
  background-color: $table-header-bg-color
  position: relative
  .ajax-progress
    position: absolute
    top: 50%
    +transform(translatey(-50%))
    right: 10px
  a
    display: block
    text-decoration: none
  &.active
    background-color: $table-header-active-sort-bg-color
    &:hover
      background-color: $table-header-active-sort-hover-bg-color
      color: $table-header-active-sort-hover-color
      a
        &:link, &:active, &:visited, &:focus
          color: $table-header-active-sort-hover-color
    a
      &:link, &:active, &:visited, &:focus
        color: $table-header-active-sort-color
      &:hover
        color: $table-header-active-sort-hover-color
      .fa
        display: block
        float: right
        line-height: $base-line-height
    .ajax-progress
      right: 30px

// Markup generated by theme_tablesort_indicator()
td.active
  background-color: $table-column-sorted-bg-color

// Center checkboxes inside table cell
td.checkbox,
th.checkbox
  text-align: center

// Drupal core wrongly puts this in system.menus.css. Since we override that, add it back
td.menu-disabled
  background: #ccc

// TableDrag behavior @see tabledrag.js

.draggable
  a.tabledrag-handle
    float: left
    display: block
    margin: 0 15px 0 0
    font-size: 0.8em
    height: auto
    &:link, &:active, &:focus, &:visited, &:hover
      color: #777
    .handle
      display: none
    &:before
      display: inline-block
      font: normal normal normal 14px/1 FontAwesome
      font-size: inherit
      text-rendering: auto
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale
      content: "\f047"

tr.drag
  background-color: $table-row-dragging-color

tr.drag-previous
  background-color: $table-row-dragged-color

tr
  td
    span.tabledrag-changed.warning
      display: inline-block
      text-indent: -3000em
      overflow: hidden
      background-color: transparent
      &:before
        display: block
        float: left
        text-indent: 0
        overflow: visible
        font: normal normal normal 14px/1 FontAwesome
        font-size: 0.7em
        text-rendering: auto
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        content: "\f005"

.tabledrag-toggle-weight
  font-size: 0.9em

// TableSelect behavior @see tableselect.js
tr.selected td
  background: $table-row-selected-color
