// =============================================================================
// Tabs
// =============================================================================

$tab-font-size: 1em !default
$tab-line-height: 1.5em !default
$tab-border-active-color: $tab-border-color !default
$tab-border-hover-color: $tab-border-color !default
$tab-spacing: 2px !default

// Basic positioning styles shared by primary and secondary tabs
%tabs
  list-style: none
  margin: $base-leading 0
  padding: 0 $tab-spacing
  white-space: nowrap
  @media all and (min-width: $container-tablet)
    border-bottom: $tab-border-width solid $tab-border-color

%tabs__tab
  margin: $tab-spacing 0
  padding: 0
  @media all and (min-width: $container-tablet)
    float: left
    margin: 0 $tab-spacing

%tabs__tab-link
  border-right: 0
  border-bottom: 0
  display: block
  text-decoration: none
  font-weight: normal

#media-tabs-wrapper
  float: none !important
  ul.tabs.primary
    margin-top: 0
    li a
      &:link, &:focus, &:active, &:visited, &:hover
        font-weight: normal

/* Primary tabs */
.tabs-primary,
#media-browser-tabset ul.tabs
  @extend %tabs
  position: relative
  z-index: 1

#media-browser-tabset ul.tabs
  +border-radius(0)

.tabs-primary__tab,
.ui-tabs .ui-tabs-nav li
  @extend %tabs__tab
  +border-top-radius(2px)
  border: none
  position: relative
  z-index: 10
  @media all and (min-width: $container-tablet)
    margin-bottom: -$tab-border-width
  &.is-active,
  &.ui-tabs-active
    @extend .tabs-primary__tab

// We use 3 placeholder styles to prevent @extend from going selector crazy
%tabs-primary__tab-link,
%tabs-primary__tab-link:link,
%tabs-primary__tab-link:visited,
%tabs-primary__tab-link:focus
  @extend %tabs__tab-link
  +border-top-radius(2px)
  +transition(background-color 0.3s, border-color 0.3s, color 0.3s)
  color: $tab-text-color
  background-color: $tab-bg-color
  letter-spacing: 1px
  padding: 3px 1em 1px
  font-size: $tab-font-size
  line-height: $tab-line-height
  border-bottom: $tab-border-width solid $tab-border-color
  @media all and (min-width: $container-tablet)
    text-align: center

%tabs-primary__tab-link-is-hover
  background-color: $tab-bg-hover-color
  color: $tab-text-hover-color
  border-bottom: $tab-border-width solid $tab-border-hover-color

%tabs-primary__tab-link-is-active
  background: $tab-bg-active-color
  color: $tab-text-active-color
  border-bottom: $tab-border-width solid $tab-border-active-color

%tabs-primary__tab-link-is-active-hover
  background: $tab-bg-active-hover-color
  color: $tab-text-active-hover-color

a.tabs-primary__tab-link,
.ui-tabs .ui-tabs-nav li a
  @extend %tabs-primary__tab-link
  &:hover
    @extend %tabs-primary__tab-link-is-hover
  &:active
    @extend %tabs-primary__tab-link-is-active

a.tabs-primary__tab-link.is-active,
.ui-tabs .ui-tabs-nav li.ui-state-active a
  @extend %tabs-primary__tab-link
  @extend %tabs-primary__tab-link-is-active
  cursor: pointer
  &:hover
    @extend %tabs-primary__tab-link-is-active-hover

// Secondary tabs
.tabs-secondary
  @extend %tabs
  font-size: 0.9em
  // Collapse bottom margin of ul.primary
  margin-top: -$base-leading
  border-bottom: none

.tabs-secondary__tab,
.tabs-secondary__tab.is-active
  @extend %tabs__tab
  margin: $base-leading/2 3px

// We use 3 placeholder styles to prevent @extend from going selector crazy
%tabs-secondary__tab-link,
%tabs-secondary__tab-link:link,
%tabs-secondary__tab-link:visited,
%tabs-secondary__tab-link:focus
  @extend %tabs__tab-link
  +transition(background-color 0.3s, color 0.3s)
  +border-radius(2px)
  background-color: $tab-bg-color
  color: $tab-text-color
  padding: 3px .7em
  font-size: $tab-font-size
  line-height: $tab-line-height

%tabs-secondary__tab-link-is-hover
  background-color: $tab-bg-hover-color
  color: $tab-text-hover-color

%tabs-secondary__tab-link-is-active
  background: $tab-bg-active-color
  color: $tab-text-active-color

%tabs-secondary__tab-link-is-active-hover
  background: $tab-bg-active-hover-color
  color: $tab-text-active-hover-color

a.tabs-secondary__tab-link
  @extend %tabs-secondary__tab-link

  &:hover
    @extend %tabs-secondary__tab-link-is-hover

  &:active
    @extend %tabs-secondary__tab-link-is-active

a.tabs-secondary__tab-link.is-active
  @extend %tabs-secondary__tab-link
  @extend %tabs-secondary__tab-link-is-active
  &:hover
    @extend %tabs-secondary__tab-link-is-active-hover
